.print-pdf {
    width: 100%;
    padding-top: 10px;
    float: left;
    padding-bottom: 10px;
}
.print-pdf h2 {
    font-size: 17px;
    font-weight: 400 !important;
    color: #000;
    margin: 20px 0 10px 0;
}
.print-pdf .field--label {
    font-size: 11px;
    font-weight: 700;
    color: #000;
    margin: 10px 0 0px 0;
    padding-bottom: 0;
}
.print-pdf .field--item {
    margin-bottom: 10px;
    font-size: 11px;
    padding-left: 15px;
    line-height: 18px;
    margin: 0;
    padding: 0 0 0 15px;
}
.intial-situation-info .field--item p {
    margin: 0 !important;
    padding: 0 !important;
    line-height: 18px !important;
}
body {
    margin: 0;
    font-family: Trebuchet MS !important;
}
.logo-sec-pdf {
    border-bottom: 1px solid #9e9e9e;
    margin-bottom: 20px;
    width: 100%;
    display: block;
}
.pdf-wrapper {
    width: 100%;
    display: block;
}
.pdf-wrapper header .logo-sec-pdf img {
    padding-bottom: 10px;
}
.pdf.footer {
    margin-top: 20px;
    width: 100%;
    padding-top: 20px;
    display: block;
}
.pdf-content article,
.pdf-content article.quickinfo,
.pdf-content article.downtimes {
    width: 100%;
    display: block;
    margin: 10px 0;
    padding: 0;
}
.pdf-content article.quickinfo br {
    display: none !important;
}
.pdf-content article .content,
.pdf-wrapper .pdf-title,
.pdf-wrapper header {
    width: 100%;
    display: block;
    float: none;
}
.pdf-content article h2 {
    float: none;
    width: 100%;
    line-height: 20px;
    display: none;
    margin: 5px 0 !important;
}
.pdf-content article ol,
.pdf-content article ul {
    width: 100%;
    display: block;
    margin: 0 0 10px 20px;
    padding: 0;
    float: none;
}
.pdf-content article ol li a,
.pdf-content article ul li a{
  float:none;
  width:100%;
  display: inline-block;  
}

.pdf-content article ol li,
.pdf-content article ul li {
    width: 95%;
    margin: 0 0 5px 2% !important;
    padding: 0;
    float: none;
}
.pdf-content article.page .field--item p strong {
    float: none;
    width: auto;
    display: block;
}
.pdf-content article.page .field--item,
.pdf-content article.page .field--item p,
.pdf-content article.quickinfo .field .field--item p,
.pdf-content article.quickinfo .field .field--item,
.pdf-content article.quickinfo .field .field__items {
    float: none;
    width: 98%;
    margin: 0;
    display: block;
}
.pdf-content article.quickinfo .field .field--item {
    word-wrap: break-word;
}
.pdf-content article.quickinfo .field p {
    width: 100%;
    float: none;
    border: 1px solid #fff;
}
.pdf-content article .field--item,
.pdf-content article .field--item p,
.pdf-content article .field .field--item p,
.pdf-content article .field .field--item,
.pdf-content article .field .field__items {
    float: none;
    width: 98%;
    margin: 0;
    display: block;
}
.pdf-content article.quickinfo .field .field--item p {
    margin: 5px 0 !important;
}
.pdf-content article .field .field__items,
.pdf-content article .field > .field--item {
    margin: 0 0 0 2%;
}
.pdf-content article .field .field--label,
.pdf-content article .field {
    width: 100%;
    float: none;
    display: block;
}
.pdf-content article.quickinfo .field .field--label {
    font-weight: 700;
    margin: 5px 0;
    float: none;
    width: 100%;
    display: block;
    /*page-break-after:avoid;*/
}
div[style] {
    font-family: Trebuchet MS !important;
}
.pdf-wrapper .pdf-content {
    width: 100%;
    float: none;
    display: inline-block;
}
.pdf-content {
    width: 100%;
    float: none;
}
.pdf-content article.downtimes .Incident p,
.pdf-quickinfo {
    width: 100%;
    display: block;
    float: none;
}
.pdf-title {
    color: #006e9e;
    font-size: 27px;
    margin-bottom: 10px;
    float: none;
}
.pdf-content article.downtimes .downtime-view-wrapper {
    background: transparent;
    padding: 2% 0;
    width: 98%;
    display: block;
    margin: 10px 0 20px 0;
    text-align: left;
    line-height: normal;
    float: none;
}
.pdf-content article.downtimes .Incident {
    width: 100%;
    margin-bottom: 10px;
    float: none;
    display: inline-block;
}
.pdf-content article.downtimes .Incident .downtimes_title {
    font-weight: 600;
    display: inline-block;
    /*width: 32%;*/
    width:auto !important;
    margin: 0 1% 3px 0;
    line-height: 25px;
    float:none;
}
.pdf-content article.downtimes .back-search {
    color: #006e9e;
    display: block;
    font-size: 16px;
    float: none;
}
.pdf-content article.downtimes .Incident .downtimes_title:after {
    content: ":";
    display: inline;
}
.pdf-content article.downtimes .Incident .downtimes_content {
    display: inline-block;
    margin-bottom: 3px;
    /*width: 65% !important;*/
    width:auto !important;
    line-height: 25px;
    float:none;
}
.pdf-content article.downtimes .Incident .downtimes_content p {
    margin: 2px 0 !important;
}
.pdf-content article.downtimes .downtime-view-history {
    width: 100%;
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #04425f;
    float: none;
    display: block;
}
#header table,
#header .pdf-quickinfo table {
    margin: 0 !important;
    float: none;
    display: table;
    width: 100%
}
#header table,
.pdf-content table.problem_info,
.pdf-content table.problem_info tr {
    float: none;
    width: 100%;
    margin: 0 !important;
}
/*#header table tr td{
   width:45%;
  
 }
#header table tr td:first-child{
   width:20%;
}
#header table tr td:last-child{
  width:35%;
}
 #header table tr td{
  vertical-align:middle;
  text-align:center;
 }*/
.pdf-content #edit-services-effected .form-checkbox .published-services{
   margin-top:-20px !important;
 }
.pdf-content #edit-services-effected .form-checkbox .published-services label{
  display:inline;
  float:none;
}
.pdf-content form.node-downtimes-form #edit-services-effected .form-checkbox .published-services .service-tooltip,
.pdf-content #edit-services-effected .form-checkbox input[type="checkbox"]{
  float:none;
}
.pdf-wrapper .pdf-content table td {
  border: 1px solid #000 !important;
}
 .pdf-content #problem_search_results_wrapper table#sortable tr td{
  border-top: 1px solid #ddd !important;
}
.pdf-content #problem_search_results_wrapper table#sortable caption{
  /*margin:30px 0 !important;
  display: table-caption;*/
}
.pdf-content #problem_search_results_wrapper table tr th,
.pdf-content #problem_search_results_wrapper table tr td{
  padding:8px 1px !important;
}
.pdf-content #problem_search_results_wrapper table#sortable
.pdf-content #problem_search_results_wrapper table#sortable th{
  color:#333;
}
.pdf-content #problem_search_results_wrapper table#sortable th.problem_title,
.pdf-content #problem_search_results_wrapper table#sortable tr td:nth-child(4){
  width:5% !important;
 }

.pdf-content table.problem_info tr.odd td,
.pdf-content table.problem_info tr.even td {
    float: none;
}
.pdf-content table.problem_info tr td.problem_content {
    float: none;
    position: relative !important;
    word-wrap: break-word;
    white-space: normal;
}
form.node-downtimes-edit-form .form-wrapper #edit-services-effected .form-checkbox,
form.node-downtimes-edit-form .form-wrapper .form-type-checkbox,
form.downtimes-setting-form #edit-services .form-type-checkbox,
form.node-downtimes-form .form-wrapper #edit-services-effected .form-checkbox,
form.node-downtimes-form .form-wrapper #edit-services-effected .form-type-checkbox,
form.node-downtimes-form .form-wrapper #edit-states .form-type-checkbox {
    float: none;
    margin: 0 2% 7px 0;
    padding: 0;
    width: 30.33%;
}
form.node-downtimes-form > .form-group,
form.node-downtimes-form > .form-wrapper,
form.node-downtimes-form > .form-item {
    float: none;
    display: block;
}
.pdf-content article.maintenance .form-group,
.pdf-content article.maintenance h3,
.pdf-content article.downtimes h3,
.pdf-content article.downtimes .form-group {
    float: none;
}
.pdf-content article.downtimes .changed-group {
    width: 98%;
    margin: 0 0 20px 0;
    padding: 0;
    float: none;
}
table#sortable,
table.maintenance,
table.incident {
    margin: 40px 0 20px !important;
}
table.incident thead,
table.incident thead tr{
  width:100%;
  float:none;
}
table.incident caption h2,
table.maintenance caption h2 {
    display: block;
    width: 100%;
    float: none;
}
/*.pdf-content article.downtimes .changed-group,*/
table,
table thead,
table tbody,
table tr td,
table tr th {
    /*page-break-inside: avoid !important;*/ 
    float: none;
}
.pdf-content article.downtimes .changed-group span.downtimes-view-updated {
    width: 100%;
    float: none;
    margin: 0 0 10px 0;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #e6e9ed;
    display: block;
}
.pdf-content article.downtimes .changed-group .field-wrapper,
.pdf-content article.downtimes .changed-group .reason {
    width: 100%;
    float: none;
    display: block;
}
.pdf-content article.downtimes .changed-group .field-wrapper ul,
.pdf-content article.downtimes .changed-group .field-wrapper ol {
    width: 98%;
    display: inline-block;
    float: none;
    margin-left: 2% !important;
}
.pdf-content article.downtimes .changed-group .field-wrapper ol li {
    width: 100%;
    margin: 0 0 3px 13px;
    padding: 0;
    float: none;
}
.pdf-content article.downtimes .changed-group .field-wrapper ul li {
    width: 98%;
    margin: 0 0 3px 2%;
    padding: 0;
    float: none;
}
.pdf-content article.downtimes .changed-group .reason p {
    width: 100%;
    float: none;
    margin: 0 0 20px 0;
    display: block;
}
field--label-hidden {
    display: none;
}
.pdf-content #content,
.pdf-content h2,
.pdf-content h2 a {
    width: 100%;
    float: none;
    display: block;
}
.table-responsive,
.pdf-content article.quickinfo .field .table-responsive,
.pdf-content article.quickinfo .field table {
    margin: 0 !important;
    float: none;
    display: table;
    width: 100%
}
.pdf-content article.quickinfo .field table {
    padding: 5px 0 !important;
}
.pdf-content article.quickinfo .field table tr th {
    text-align: left;
}
.pdf-content article.quickinfo .field table {
    border-bottom: none !important;
}
hr {
    display: none;
}
.pdf-content article.quickinfo .field .field--item table,
#header.pdf-quickinfo table td {
    border-bottom: 1px solid #545454;
    padding: 5px 10px;
    text-align: center;
}
#header.pdf-quickinfo table td .pageCounter,
.totalPageCounter {
    display: inline-block;
    width: 100%;
}
table tr th,
table tr td {
    padding: 5px;
}
.pdf-content .ckeditor-custom-wrapper table{
 float:none;
 display:table;
 width:100%;
}
.pdf-content .ckeditor-custom-wrapper .field strong{
  float:none;
  display:block;
  width:100%;
}
.pdf-content .ckeditor-custom-wrapper .field,
.pdf-content article.quickinfo .field,
.pdf-content article .field {
    margin: 0 0 10px 0 !important;
    padding: 0;
    display: block;
    width: 100%;
    float: none;
}
.pdf-footer {
    width: 100%;
    display: block;
}
.pdf-footer a {
    width: auto;
    display: inline-block;
}
.pdf-content .dropdown-menu,
.pdf-content .dropdown-toggle{
   display:none;
}
.pdf-content .view-groups-faq .view-content .views-row .views-field-edit-node a, 
.pdf-content .view-groups-faq .view-content .views-row .views-field-delete-node a{
  float:none;
  color:#fff !important;
  display:inline-block;
}
.view-groups-faq .view-content .views-row .views-field-title{
  display:block;
  float:none;
  color:#fff;
  width:100%;
}
.pdf-content br{
  display:none;
}
.pdf-content .views-element-container,
.pdf-content .ckeditor-custom-wrapper p,
.pdf-content .ckeditor-custom-wrapper,
.view-groups-faq .view-content .views-row .views-field-body,
.pdf-content .view-groups-faq h3,
.pdf-content .view-groups-faq .views-field,
.pdf-content .view-groups-faq .view-content .views-row,
.pdf-content .view-groups-faq .view-content .views-row .views-field-title .field-content{
  float:none;
  width:100%;
}

