.print-pdf{
  width:100%;
  padding-top:10px;
  float:left;
  font-family:sans-serif;
  padding-bottom:10px;
}
.print-pdf h2{
  font-size:17px;
  font-weight:400 !important;
  color:#000;
  margin:20px 0 10px 0;
}
.print-pdf .field--label{
  font-size:11px;
  font-weight:700;
  color:#000;
  margin:10px 0 0px 0;
  padding-bottom:0;
}
.print-pdf .field--item {
  margin-bottom: 10px;
  font-size:11px;
  padding-left:15px;
  line-height:18px;
  margin:0;
  padding:0 0 0 15px;
}
.intial-situation-info .field--item p{
  margin:0 !important;
  padding:0 !important;
  line-height:18px !important;
}

