form.node-downtimes-form .panel-body .form-checkboxes{
  padding-top:9px;
  float:left;
}
#edit-services-effected .form-checkbox .published-services .service-profile-data{
  width:530px;
  border:1px solid rgb(204, 204, 204);
  padding:10px;
  background:#fbfcfc !important;
  z-index:10;
}
#edit-services-effected .form-checkbox .published-services .service-profile-data table,
#edit-services-effected .form-checkbox .published-services .service-profile-data .wrapper{
    background:#fbfcfc;
	width:100%;
}
#edit-services-effected .form-checkbox .published-services .data{
  left: 0px;
  position: absolute;
  top: 20px;
  width:500px;
  background:#fbfcfc;
  z-index:10;
  border:1px solid rgb(204, 204, 204);
  padding:10px;
}
#edit-services-effected .form-checkbox .published-services .data b{
  font-weight:normal !important;
}
#edit-services-effected .form-checkbox .published-services .service-profile-data table,
#edit-services-effected .form-checkbox .published-services .data table{
  margin:0 !important;
}
#edit-services-effected .form-checkbox .published-services .data .service-profile-close a{
  float:right;
  background:url(../images/tip-close-btn.jpg) left top no-repeat;
  width:15px;
  height:15px;
  font-size:0;
  margin:0 0 11px 0;
  cursor:pointer;
}#edit-services-effected--wrapper .panel-title.form-required:after,
#edit-states--wrapper .panel-title.form-required:after{
  content:'*';
  color:#ee0000;
}
button[value="Save and publish"]{
  margin-right:0 !important;
}
.tabs-left>.nav-tabs{
  width:25% !important;
  margin-right:5% !important;
  border:none !important;
}
.tabs-left>.nav-tabs .form-type-checkbox{
  width:100% !important;
}
.form-type-vertical-tabs .tabs-left{
  margin-top:50px;
}
.form-actions button{
  background: #04425f !important;
  font-size: 14px;
  color: #ffffff !important;
  padding: 6px 12px !important;
  border-radius: 4px;
  float: left;
  border: none !important;
}
.form-actions button .glyphicon-ok{
  display:none;
}
