/**
 * Variable Overrides.
 *
 * Modify this file to override the Bootstrap Framework variables. You can copy
 * these variables directly from ../bootstrap/less/variables.less to this file.
 */
@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/roboto-regular_6-webfont.eot');
  src: url('../fonts/roboto-regular_6-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-regular_6-webfont.woff2') format('woff2'), url('../fonts/roboto-regular_6-webfont.woff') format('woff'), url('../fonts/roboto-regular_6-webfont.ttf') format('truetype'), url('../fonts/roboto-regular_6-webfont.svg#roboto_condensedregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto_condensedregular';
  src: url('../fonts/robotocondensed-regular-webfont.woff2') format('woff2'), url('../fonts/robotocondensed-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto_condensedbold';
  src: url('../fonts/robotocondensed-bold-webfont.woff2') format('woff2'), url('../fonts/robotocondensed-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotomedium';
  src: url('../fonts/Roboto-Medium-webfont.eot');
  src: url('../fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Medium-webfont.woff') format('woff'), url('../fonts/Roboto-Medium-webfont.ttf') format('truetype'), url('../fonts/Roboto-Medium-webfont.svg#robotomedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
/***** Global Styles *****/
a,
div,
span,
img,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button {
  outline: none !important;
}
body {
  font-family: 'robotoregular';
  padding: 0;
  margin: 0;
  color: #222222;
  font-size: 16px;
  line-height: 1.6;
}
p {
  margin-bottom: 15px;
}
#block-primarylinks {
  background-color: #04425f;
  /* background-color: #064771; */
  width: 100%;
  float: left;
}
#block-primarylinks h2 {
  display: none;
}
#block-primarylinks ul {
  width: 100%;
  float: left;
}
#block-primarylinks ul li {
  width: auto;
  display: inline-block;
}
#block-primarylinks ul li a {
  color: #ffffff;
  text-decoration: none;
  font-family: roboto_condensedregular;
  /* text-transform: uppercase; */
}
#block-primarylinks ul li a:hover {
  background: #0c4f6d;
}
#block-primarylinks ul li.active {
  width: auto;
  display: inline-block;
}
#block-primarylinks ul li.active a {
  background: #0c4f6d;
  color: #ffffff;
}
a, a.hover {
  color: #31708f;
}
footer h2,
a.name.navbar-brand,
#block-customtable h2.block-title,
#block-hzd-main-menu {
  float: right;
}
footer h2 ul,
a.name.navbar-brand ul,
#block-customtable h2.block-title ul,
#block-hzd-main-menu ul {
  width: auto;
  float: right;
}
footer h2 ul li,
a.name.navbar-brand ul li,
#block-customtable h2.block-title ul li,
#block-hzd-main-menu ul li {
  float: right;
}
footer h2 ul li a,
a.name.navbar-brand ul li a,
#block-customtable h2.block-title ul li a,
#block-hzd-main-menu ul li a {
  color: #424241;
  padding: 22px 10px 0 10px;
  line-height: 25px;
}
footer h2 ul li a:hover,
a.name.navbar-brand ul li a:hover,
#block-customtable h2.block-title ul li a:hover,
#block-hzd-main-menu ul li a:hover,
footer h2 ul li a:focus,
a.name.navbar-brand ul li a:focus,
#block-customtable h2.block-title ul li a:focus,
#block-hzd-main-menu ul li a:focus {
  color: #0c4f6d;
  background: #ffffff;
}
footer .region-footer {
  background-color: #1475a0;
  padding: 8px !important;
  margin: 20px auto 0 auto ;
  color: #ffffff;
}
footer .region-footer .cp,
footer .region-footer .footer-links a {
  color: #ffffff;
  font-size: 12px;
}
footer .region-footer a:hover {
  text-decoration: none;
}
.footer-links {
  float: right;
  text-align: right;
}
#block-customtable table {
  width: 100%;
  float: left;
  margin-bottom: 50px;
}
#block-customtable table th {
  font-weight: bold;
}
#block-customtable table td,
#block-customtable table th {
  border: 1px solid #c6dee8;
  padding: 8px;
  color: #424241;
  font-size: 12px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #31708f;
  font-family: 'roboto_condensedregular';
  margin: 15px 0 15px 0 !important;
}
h1 {
  font-size: 25px;
}
h2,
h2 a {
  font-size: 22px;
  line-height: 29px;
  float: left;
  width: 100%;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 16px;
}
.cus-table {
  width: 100%;
  float: left;
}
@media only screen and (min-width: 768px) {
  #block-primarylinks ul ul {
    width: auto !important;
  }
  .path-user .region-content nav.tabs li a {
    padding: 8px 33px !important;
  }
  body.not-loggedin.path-user .region-content {
    width: 506px;
  }
  #block-customtable tr.odd,
  #block-customtable thead tr {
    background: #eaeff5;
  }
  /*footer{
	width:1154px !important;  
}*/
  header {
    padding: 0 !important;
  }
  .user-login-form,
  .user-register-form,
  .user-pass,
  .path-user .region-content nav.tabs {
    width: 500px;
  }
}
@media only screen and (max-width: 767px) {
  .path-user .region-content nav.tabs li a {
    padding: 7px !important;
    font-size: 14px !important;
  }
  button.navbar-toggle {
    float: left !important;
    margin-left: 15px;
    margin-bottom: 0 !important;
    border-radius: 0 !important;
    background: #1475a0;
    border: none !important;
  }
  button.navbar-toggle:hover,
  button.navbar-toggle:focus {
    background: rgba(20, 117, 160, 0.8) !important;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background: #fff !important;
  }
  .navbar-collapse {
    width: 100% !important;
    margin-left: 0px !important;
  }
  body.not-loggedin.path-user .region-content {
    width: 100%;
  }
  form .hzd-form-element {
    width: 100% !important;
  }
  .user-login-form,
  .user-register-form,
  .user-pass,
  .path-user .region-content nav.tabs {
    width: 100%;
  }
  .logo img {
    margin-left: 20px;
  }
  #block-hzd-main-menu ul li a {
    padding-left: 15px !important;
  }
  nav#block-hzd-main-menu,
  nav#block-hzd-main-menu ul {
    width: 100%;
    margin: 0 !important;
  }
  #block-hzd-main-menu ul li,
  #block-primarylinks ul li {
    width: 100%;
  }
  #block-customtable table,
  #block-customtable thead,
  #block-customtable tbody,
  #block-customtable tr,
  #block-customtable th,
  #block-customtable td {
    display: block;
  }
  .cp,
  .footer-links {
    width: 100%;
    float: left;
    text-align: center;
  }
  #block-customtable td:before {
    content: attr(data-title);
  }
  #block-customtable td:before {
    font-weight: bold;
    left: 6px;
    padding-right: 10px;
    position: absolute;
    text-align: left;
    top: 6px;
    white-space: nowrap;
    width: 45%;
  }
  #block-customtable td {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #eeeeee;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    padding-left: 50% !important;
    position: relative;
    text-align: left;
    white-space: normal;
  }
  #block-customtable thead {
    display: none;
  }
  #block-customtable tr {
    margin-bottom: 15px;
  }
}
header {
  background: transparent !important;
  border: none !important;
}
header .navbar-collapse.collapse {
  padding: 0 !important;
  border-top: 0 !important;
}
#block-general {
  width: 100%;
  float: left;
  border: 1px solid #1475a0;
  background: #eaeff5;
  margin-top: 20px;
  margin-bottom: 20px;
}
#block-general li a {
  font-size: 14px;
  padding: 5px 10px !important;
  color: #424241;
}
#block-general li a:hover {
  color: #1475a0;
  background: #eaeff5;
}
#block-general h2 {
  margin: 0 !important;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 15px;
  background: #1475a0;
}
.navbar-toggle {
  margin-top: 20px !important;
}
.navbar-brand,
footer h2 {
  display: none;
}
.footer {
  border: none;
}
.main-container {
  min-height: 400px;
}
.form-control {
  border-radius: 2px !important;
}
/***** LOGIN-REGISTER-RESETPASS FORM STYLES *****/
.user-login-form,
.user-register-form,
.user-pass,
.path-user .region-content nav.tabs {
  margin: 0 auto;
  padding: 0 25px 50px 25px;
  background: #fafafa;
}
.user-login-form .control-label,
.user-register-form .control-label,
.user-pass .control-label,
.path-user .region-content nav.tabs .control-label {
  font-weight: normal;
}
.user-login-form .form-required,
.user-register-form .form-required,
.user-pass .form-required,
.path-user .region-content nav.tabs .form-required {
  padding-left: 3px;
}
body.not-loggedin.path-user .region-content {
  background: #fafafa;
  border: 3px solid #f4f4f4;
}
.user-login-form,
.user-register-form,
.user-pass {
  /*border-radius:0 0 5px 5px;
  border:3px solid #f4f4f4;*/
  border-top: 0 !important;
  /*padding-bottom:55px !important;*/
}
.user-login-form button,
.user-register-form button,
.user-pass button {
  float: right;
  margin-bottom: 25px;
  background: #1475a0;
  color: #ffffff;
  border: none !important;
}
.user-login-form button:hover,
.user-register-form button:hover,
.user-pass button:hover,
.user-login-form button:focus,
.user-register-form button:focus,
.user-pass button:focus,
.user-login-form .btn-success:hover,
.user-register-form .btn-success:hover,
.user-pass .btn-success:hover,
.user-login-form button:hover,
.user-register-form button:hover,
.user-pass button:hover {
  background: #0c4f6d !important;
  color: #ffffff !important;
}
.path-user .region-content nav.tabs {
  padding: 0 !important;
  width: 100%;
  border-top: 1px solid #1475a0;
  border-bottom: 0 !important;
  background: #1475a0;
}
.path-user .region-content nav.tabs .nav-tabs {
  border: none !important;
}
.path-user .region-content nav.tabs li {
  margin: 0 !important;
}
.path-user .region-content nav.tabs li a {
  border: none !important;
  border-radius: 0 !important;
  color: #ffffff !important;
  margin-right: 0 !important;
  background: #1475a0;
  font-size: 15px;
  font-family: 'roboto_condensedregular';
  text-transform: capitalize;
  margin-top: -1px;
}
.path-user .region-content nav.tabs li a:hover,
.path-user .region-content nav.tabs li a:focus {
  color: #ffffff !important;
  background: #0c4f6d !important;
}
.path-user .region-content nav.tabs li.active a {
  color: #1475a0 !important;
  background: #fafafa !important;
}
.path-user .region-content .tabs--primary.nav-tabs li {
  border: 3px solid #1475a0;
}
.region-content .field--label-inline,
.user-groups .user-group-list {
  width: 100%;
  float: left;
  background: #edf4fa;
  line-height: 22px;
  padding: 1% 0% 1% 1%;
  border: 2px solid #d9e4ee;
  border-bottom: none;
}
.region-content .field--label-inline .field--label,
.user-groups .user-group-list .field--label {
  width: 19%;
  float: left;
  font-family: 'robotomedium';
  font-weight: 300 !important;
}
.region-content .field--label-inline .field--item,
.user-groups .user-group-list .field--item {
  background: #edf4fa;
  width: 80%;
  float: left;
  padding-left: 1%;
}
/*****  Messages Styles *****/
.alert-danger {
  background-color: #fcf4f2;
  color: #a51b00;
  background: rgba(199, 3, 3, 0.05) url(../images/error.svg) 10px 12px no-repeat;
  border-color: #f9c9bf #f9c9bf #f9c9bf transparent;
  /* LTR */
  box-shadow: -8px 0 0 #e62600;
  /* LTR */
}
.alert-warning {
  background-color: #fdf8ed;
  background: rgba(244, 218, 166, 0.05) url(../images/warning.svg) 10px 12px no-repeat;
  border-color: #f4daa6 #f4daa6 #f4daa6 transparent;
  /* LTR */
  color: #734c00;
  box-shadow: -8px 0 0 #e09600;
  /* LTR */
}
.alert-success {
  color: #325e1c;
  background-color: #f3faef;
  border-color: #c9e1bd #c9e1bd #c9e1bd transparent;
  /* LTR */
  background: rgba(201, 225, 189, 0.05) url(../images/check.svg) 10px 12px no-repeat;
  box-shadow: -8px 0 0 #77b259;
  /* LTR */
}
.alert {
  border: 1px solid;
  border-width: 1px 1px 1px 0;
  /* LTR */
  border-radius: 2px;
  padding: 10px 20px 10px 35px;
  /* LTR */
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin-bottom: 20px;
  margin-left: 8px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  right: 0 !important;
}
/*****  Messages Styles Ends *****/
.menu-filter {
  width: 100%;
  float: left;
  background: #9db2c3;
  padding: 6px 5px;
  border-bottom: 2px solid #6e8496;
  margin: 8px 0 20px 0 !important;
}
.menu-filter ul {
  width: 100%;
  float: left;
  padding: 0 !important;
  margin: 0 0 0px 0 !important;
}
.menu-filter ul li {
  list-style-type: none;
  float: left;
  color: #ffffff;
  list-style-type: none !important;
  padding: 0 10px 0 0 !important;
  margin: 0 !important;
  width: auto !important;
  background: transparent !important;
}
.menu-filter ul img {
  margin-right: 4px;
  margin-top: 3px;
  float: left;
}
form.release-filter-form,
.table-responsive {
  width: 100%;
  float: left;
}
form.release-filter-form .hzd-form-element,
.table-responsive .hzd-form-element {
  width: 31%;
  float: left;
  margin: 0 2% 1% 0;
}
form.release-filter-form .limit_search_dropdown.hzd-form-element {
  margin-top: 24px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border-top: 1px solid #1475a0 !important;
  border-left: 1px solid #1475a0 !important;
  border-right: 1px solid #1475a0 !important;
}
.nav-tabs {
  border-bottom: 1px solid #1475a0 !important;
  margin-bottom: 25px !important;
}
.nav-tabs li {
  list-style-type: none !important;
  padding: 0 !important;
  margin: 0 0 -1px 0 !important;
  width: auto !important;
  background: transparent !important;
}
.nav-tabs > li > a:hover {
  border-color: #5289a1;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #5289a1;
  color: #ffffff !important;
}
.nav > li.active > a:hover,
.nav > li.active > a {
  color: #5289a1 !important;
}
.nav-tabs > li > a {
  color: #555555 !important;
}
table tr th {
  background: #1475a0;
  color: #ffffff;
  border-bottom: 2px solid #0e658c !important;
}
table tr.odd {
  background: #edf4fa !important;
}
table tr.odd td {
  border-top: 1px solid #d9e4ee !important;
  border-bottom: 1px solid #d9e4ee !important;
}
table tr.even:hover {
  background: #f9f9f9 !important;
}
.warningcount {
  background: url(../images/warning-icon.png) left top no-repeat;
  width: 28px;
  height: 24px;
  float: left;
  line-height: 29px;
  text-align: center;
  font-size: 11px;
}
aside section.blue,
.region-sidebar-first .block-hzd-release-management,
nav#block-optionen {
  margin-bottom: 20px;
  width: 100%;
  background: rgba(206, 240, 253, 0.3);
  padding-bottom: 5px;
  display: inline-block;
}
aside section.blue h2,
.region-sidebar-first .block-hzd-release-management h2,
nav#block-optionen h2 {
  font-size: 16px;
  font-weight: normal;
  background: #1475a0;
  color: #ffffff;
  margin: 0 !important;
  padding: 5px 10px;
  line-height: 20px;
}
aside section.blue .field--name-body,
.region-sidebar-first .block-hzd-release-management .field--name-body,
nav#block-optionen .field--name-body {
  padding: 0px;
}
aside section.blue .field--name-body ul,
.region-sidebar-first .block-hzd-release-management .field--name-body ul,
nav#block-optionen .field--name-body ul {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}
aside section.blue .field--name-body ul li,
.region-sidebar-first .block-hzd-release-management .field--name-body ul li,
nav#block-optionen .field--name-body ul li {
  list-style-type: none;
  padding: 6px 10px 8px 10px;
  border-bottom: 1px solid rgba(20, 117, 160, 0.2);
}
aside section.blue .field--name-body ul li a,
.region-sidebar-first .block-hzd-release-management .field--name-body ul li a,
nav#block-optionen .field--name-body ul li a {
  width: 100%;
  display: block;
}
aside section.blue .field--name-body ul li:last-child,
.region-sidebar-first .block-hzd-release-management .field--name-body ul li:last-child,
nav#block-optionen .field--name-body ul li:last-child {
  border: none;
}
aside section.blue .field--name-body ul li:hover,
.region-sidebar-first .block-hzd-release-management .field--name-body ul li:hover,
nav#block-optionen .field--name-body ul li:hover {
  background: rgba(20, 117, 160, 0.8);
}
aside section.blue .field--name-body ul li:hover a,
.region-sidebar-first .block-hzd-release-management .field--name-body ul li:hover a,
nav#block-optionen .field--name-body ul li:hover a {
  color: #ffffff;
  text-decoration: none;
}
h1.page-header {
  margin: 0 0 20px 0 !important;
  font-size: 25px;
}
.col-sm-9 .field--name-body.field--type-text-with-summary ul {
  width: 100%;
  float: left;
  margin: 0 0 10px 0;
  padding: 0;
}
.col-sm-9 .field--name-body.field--type-text-with-summary ul li {
  background: url(../images/list-bullet.jpg) left 7px no-repeat;
  list-style-type: none;
  margin-bottom: 10px;
  padding-left: 16px;
  width: 100%;
  float: left;
}
/* problem management table sort css */
table.tablesorter thead tr .header {
  background-image: url(/modules/custom/hzd_problem_management/images/bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
  padding-right: 24px;
}
table {
  width: 100% !important;
  float: left;
  border: 1px solid #d9e4ee;
  margin: 10px 0 !important;
}
table th {
  background: #1475a0;
  color: #ffffff;
  /*text-transform:uppercase;*/
  vertical-align: middle !important;
  padding: 5px 10px;
  line-height: 17px !important;
}
table td {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}
.input-group-addon {
  border-left: none !important;
  border-radius: 0px 4px 4px 0px !important;
}
input.hasDatepicker,
input.start_date,
input.end_date {
  height: 32px !important;
  border-radius: 4px 0px 0px 4px !important;
}
/*.form-control{
  border-radius: 4px 0px 0px 4px !important;
}*/
.filter_end_date input,
.filter_start_date input {
  border: 1px solid #ccc;
}
/***** pager styles *****/
#pagination {
  width: 100%;
  float: left;
  text-align: center;
}
#pagination ul {
  margin-right: 15px;
  margin-top: 20px;
}
#pagination ul li {
  line-height: 26px !important;
  padding: 0 !important;
  float: none !important;
  display: inline-block !important;
  width: auto;
  background: none !important;
}
#pagination ul li a {
  font-size: 13px;
  color: #ffffff !important;
  padding: 4px 8px !important;
  float: left;
  background: #1475a0;
  border: none;
}
#pagination ul li.pager__item--ellipsis {
  display: none;
}
#pagination ul li a:hover,
#pagination ul li.active a {
  background-color: #096087 !important;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-radius: 3px 0px 0 3px !important;
}
#released_results_wrapper {
  width: 100%;
  overflow: auto;
}
#block-hzdheaderlinks {
  float: right;
  padding-top: 25px;
}
.user-logged-in #block-hzdheaderlinks {
  float: right;
  padding-top: 5px !important;
}
.navbar-header {
  width: 100%;
  float: left;
}
.red {
  background: #fff1eb;
  border: 1px solid #c9252b;
  margin: 4px 0;
}
.rteindent2 {
  margin: 5% 15%;
}
.rteindent1 {
  margin: 0 8%;
}
.testing {
  font-size: 12px;
}
#header-right {
  font-family: 'roboto_condensedregular';
  width: 65%;
  float: right;
}
#header-right #block-hzdheaderlinks {
  width: 100%;
  float: right;
}
#header-right #block-hzdheaderlinks .field--name-body {
  width: auto;
  float: right;
  padding-bottom: 8px;
}
#header-right form#search-block-form {
  width: 250px;
  float: right;
}
#header-right form#search-block-form button {
  background: #1475a0 !important;
}
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background: #1475a0;
  font-size: 12px;
  color: #ffffff;
  padding: 4px 10px;
  border-radius: 4px;
}
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.btn-default:hover {
  background: #0c4f6d !important;
}
.btn-default,
.views-exposed-form button {
  background: #1475a0 !important;
  font-size: 14px;
  color: #ffffff !important;
  padding: 4px 10px;
  border-radius: 4px;
  float: right;
  border: none !important;
}
.hzd-form-element {
  width: 31%;
  float: left;
  margin: 0 2% 1% 0;
}
.hzd-form-element-auto {
  width: auto;
  float: left;
  margin: 0 2% 1% 0;
}
select {
  width: inherit !important;
}
.search_string_submit button {
  background: url(../images/form-search-btn.png) left top no-repeat !important;
  border-radius: 3px !important;
  float: left;
  width: 36px;
  height: 34px;
  display: block !important;
}
#problem_search_results_wrapper .reset_form {
  margin: 0 !important;
}
.table-responsive {
  padding-top: 10px;
}
.reset_form {
  float: right !important;
  margin-right: 27px;
}
.filter_end_date {
  padding-left: 0 !important;
}
.form-group:last-child,
.panel:last-child,
.popover ol:last-child,
.popover ul:last-child,
p:last-child {
  margin-bottom: 10px !important;
}
.field--name-body,
a,
p {
  word-wrap: break-word;
}
.alert a,
.field--label,
.file {
  font-family: 'roboto_condensedregular';
  letter-spacing: 0.5px;
}
li.comment-add {
  border-top: 1px solid #1475a0;
  border-bottom: 1px solid #1475a0;
  list-style-type: none;
  text-align: right;
  float: left;
  background: none !important;
  line-height: 30px;
  margin-top: 15px;
}
li.comment-delete,
li.comment-edit,
li.comment-reply {
  list-style-type: none;
  background: none !important;
  float: left;
  width: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  border-right: 1px solid #7fa9bc;
}
li.comment-delete a,
li.comment-edit a,
li.comment-reply a {
  color: #ffffff;
  font-size: 12px;
  background: #1475a0;
  line-height: 25px;
  float: left;
  padding: 0 10px;
}
li.comment-delete a:hover,
li.comment-edit a:hover,
li.comment-reply a:hover {
  text-decoration: none;
  background: #0c4f6d;
}
li.comment-delete a {
  border-radius: 2px 0 0 2px;
}
li.comment-reply a {
  border-radius: 0 2px 2px 0;
}
li.comment-reply {
  border-right: 0 !important;
}
body.not-loggedin.path-user .region-content {
  margin: 50px auto 0 auto;
}
body.not-loggedin.path-user .region-content h1 {
  border-bottom: none !important;
  width: 100%;
  float: left;
  text-indent: 31px;
  text-transform: capitalize;
  font-size: 22px;
  font-weight: normal !important;
}
.hzd-secondary-tabs.path-user ul.tabs--secondary {
  width: 100%;
  float: left;
  border-bottom: 1px solid #1475a0;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-radius: 0 !important;
}
.hzd-secondary-tabs.path-user ul.tabs--secondary li {
  list-style-type: none;
  float: left;
  background: transparent !important;
  padding: 0 !important;
  width: auto;
}
.hzd-secondary-tabs.path-user ul.tabs--secondary li a {
  background: transparent !important;
  margin: 0;
  padding: 0px 15px !important;
  border-right: 1px solid #1475a0 !important;
  color: #424241 !important;
  font-size: 13px;
}
.hzd-secondary-tabs.path-user ul.tabs--secondary li a:hover,
.hzd-secondary-tabs.path-user ul.tabs--secondary li active.a,
.hzd-secondary-tabs.path-user ul.tabs--secondary li a:focus {
  background: transparent !important;
  color: #1475a0 !important;
}
.hzd-secondary-tabs.path-user ul.tabs--secondary li:last-child a {
  border: none !important;
}
.hzd-secondary-tabs .service-notifications-user-form .hzd_time_interval div.form-type-radio,
.hzd-secondary-tabs .schnellinfos-notifications-user-form .hzd_time_interval div.form-type-radio {
  width: auto;
  float: left;
  margin: 0 5px;
}
button[value="Save"],
button[value="update"],
button[value="Delete"] {
  margin: 0 5px 10px 0 !important;
  padding: 3px 8px !important;
  font-size: 12px;
  text-transform: capitalize;
}
.hzd-secondary-tabs .hzd-form-element .js-form-item {
  margin-bottom: 0 !important;
}
.hzd-secondary-tabs .js-form-item .form-required {
  display: none;
}
.hzd-secondary-tabs form {
  padding-bottom: 15px;
}
.hzd-secondary-tabs .notifications_title {
  font-size: 15px;
  color: #1475a0;
  padding-bottom: 5px;
  font-weight: bold;
}
table.view-deployed-releases {
  position: relative;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #0c4f6d !important;
}
#block-primarylinks ul ul.dropdown-menu {
  background: #ffffff !important;
  border-radius: 0 !important;
  border: none;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.75);
}
#block-primarylinks ul ul.dropdown-menu li {
  width: 100%;
  float: left;
  background: rgba(206, 240, 253, 0.3) !important;
}
#block-primarylinks ul ul.dropdown-menu li a {
  width: 100%;
  float: left;
  border-bottom: 1px solid #1475a0;
  padding-bottom: 5px;
  padding-top: 5px;
  color: #1475a0;
}
#block-primarylinks ul ul.dropdown-menu li a:hover {
  color: #ffffff;
}
#block-primarylinks ul ul.dropdown-menu li:last-child a {
  border-bottom: none !important;
}
article .quickedit-field {
  margin-bottom: 5px;
  width: 100%;
  float: left;
}
article .quickedit-field .field__items .field--item {
  width: auto;
  float: left;
  display: inline-block;
  padding-right: 5px;
}
.hide-field-content {
  display: none;
}
.breadcrumb {
  font-family: 'roboto_condensedregular';
  width: 100%;
  float: left;
  margin-bottom: 0 !important;
  border-radius: 0px;
  border: 1px solid #dddddd;
}
.breadcrumb > .active {
  color: #555;
}
#header-right a {
  padding: 0 2px;
}
.table-responsive ul.dropdown-menu {
  padding: 0 !important;
  margin: 0 !important;
  min-width: 105px !important;
}
.table-responsive ul.dropdown-menu li {
  padding: 0px !important;
}
.table-responsive ul.dropdown-menu li a {
  padding: 5px !important;
}
.masquerade-block-form #masquerade-block-form .form-actions {
  margin-bottom: 0 !important;
}
.masquerade-block-form #masquerade-block-form input {
  height: 29px !important;
}
.masquerade-block-form #masquerade-block-form .input-group-addon {
  padding: 5px 10px !important;
}
.path-user .region-content nav.tabs .tabs--secondary li.active a {
  background: transparent !important;
}
#group-notifications-user-form .table-responsive tr td {
  width: 50%;
}
#group-notifications-user-form .table-responsive .hzd_time_interval div.form-type-radio {
  width: auto !important;
  float: left;
  margin: 5px 7px !important;
  line-height: 22px;
}
.views-exposed-form .js-form-item label.control-label {
  font-family: 'robotomedium';
  font-weight: 300 !important;
}
.views-exposed-form #edit-actions {
  margin-bottom: 0 !important;
}
.views-exposed-form input[type="text"] {
  height: 28px !important;
  border-radius: 3px !important;
  margin-left: 3px;
}
.hzd-user-profile-info,
.hzd-groups-info {
  width: 100%;
  float: left;
  border-bottom: 2px solid #d9e4ee;
}
.hzd-user-profile {
  margin-top: -18px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background: #edf4fa !important;
}
.node-preview-container {
  width: 250px;
  background: #1475a0;
  top: 95px;
  left: 10px;
}
.node-preview-container a.node-preview-backlink {
  color: #fff !important;
  font-size: 15px;
  font-family: 'robotomedium';
  padding-bottom: 5px;
  float: left;
}
.node-preview-container a:hover {
  text-decoration: none;
  opacity: 0.8;
}
.node-preview-container label.control-label {
  display: none;
}
.node-preview-container select {
  display: inline;
}
.node-preview-container .form-type-select {
  margin-left: 0 !important;
}
.navbar-collapse.collapsing {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}
.btn-primary {
  background: #1475a0 !important;
  padding: 3px 10px !important;
}
form.contact-message-form label {
  font-family: 'robotomedium';
  font-weight: 400 !important;
}
form.problem-filter-form .string_search.hzd-form-element {
  margin-right: -2px !important;
}
.region-sidebar-first section.blue,
.block-hzd-release-management,
nav#block-optionen {
  font-family: 'roboto_condensedregular';
  padding: 0px;
}
.region-sidebar-first section.blue ul.menu.nav,
.block-hzd-release-management ul.menu.nav,
nav#block-optionen ul.menu.nav,
.region-sidebar-first section.blue ul,
.block-hzd-release-management ul,
nav#block-optionen ul {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}
.region-sidebar-first section.blue ul.menu.nav li,
.block-hzd-release-management ul.menu.nav li,
nav#block-optionen ul.menu.nav li,
.region-sidebar-first section.blue ul li,
.block-hzd-release-management ul li,
nav#block-optionen ul li {
  list-style-type: none;
  padding: 6px 10px 8px 10px;
  border-bottom: 1px solid rgba(20, 117, 160, 0.2);
}
.region-sidebar-first section.blue ul.menu.nav li a,
.block-hzd-release-management ul.menu.nav li a,
nav#block-optionen ul.menu.nav li a,
.region-sidebar-first section.blue ul li a,
.block-hzd-release-management ul li a,
nav#block-optionen ul li a {
  width: 100%;
  display: block;
  padding: 0;
}
.region-sidebar-first section.blue ul.menu.nav li a:hover,
.block-hzd-release-management ul.menu.nav li a:hover,
nav#block-optionen ul.menu.nav li a:hover,
.region-sidebar-first section.blue ul li a:hover,
.block-hzd-release-management ul li a:hover,
nav#block-optionen ul li a:hover {
  background: transparent;
}
.region-sidebar-first section.blue ul.menu.nav li a:focus,
.block-hzd-release-management ul.menu.nav li a:focus,
nav#block-optionen ul.menu.nav li a:focus,
.region-sidebar-first section.blue ul li a:focus,
.block-hzd-release-management ul li a:focus,
nav#block-optionen ul li a:focus {
  background: transparent;
}
.region-sidebar-first section.blue ul.menu.nav li:last-child,
.block-hzd-release-management ul.menu.nav li:last-child,
nav#block-optionen ul.menu.nav li:last-child,
.region-sidebar-first section.blue ul li:last-child,
.block-hzd-release-management ul li:last-child,
nav#block-optionen ul li:last-child {
  border: none;
}
.region-sidebar-first section.blue ul.menu.nav li:hover,
.block-hzd-release-management ul.menu.nav li:hover,
nav#block-optionen ul.menu.nav li:hover,
.region-sidebar-first section.blue ul li:hover,
.block-hzd-release-management ul li:hover,
nav#block-optionen ul li:hover {
  background: rgba(20, 117, 160, 0.8);
}
.region-sidebar-first section.blue ul.menu.nav li:hover a,
.block-hzd-release-management ul.menu.nav li:hover a,
nav#block-optionen ul.menu.nav li:hover a,
.region-sidebar-first section.blue ul li:hover a,
.block-hzd-release-management ul li:hover a,
nav#block-optionen ul li:hover a {
  color: #ffffff;
  text-decoration: none;
}
.region-sidebar-first section.blue ul.menu.nav li.active a,
.block-hzd-release-management ul.menu.nav li.active a,
nav#block-optionen ul.menu.nav li.active a,
.region-sidebar-first section.blue ul li.active a,
.block-hzd-release-management ul li.active a,
nav#block-optionen ul li.active a {
  background: transparent !important;
}
.region-sidebar-first section.blue ul.menu.nav li.active a:hover,
.block-hzd-release-management ul.menu.nav li.active a:hover,
nav#block-optionen ul.menu.nav li.active a:hover,
.region-sidebar-first section.blue ul li.active a:hover,
.block-hzd-release-management ul li.active a:hover,
nav#block-optionen ul li.active a:hover {
  color: #fff !important;
  background: transparent !important;
}
.region-sidebar-first section.blue ul.menu.nav li.active a:focus,
.block-hzd-release-management ul.menu.nav li.active a:focus,
nav#block-optionen ul.menu.nav li.active a:focus,
.region-sidebar-first section.blue ul li.active a:focus,
.block-hzd-release-management ul li.active a:focus,
nav#block-optionen ul li.active a:focus {
  background: transparent !important;
  color: #fff !important;
}
.region-sidebar-first section.blue ul.menu.nav li.active ul.dropdown-menu,
.block-hzd-release-management ul.menu.nav li.active ul.dropdown-menu,
nav#block-optionen ul.menu.nav li.active ul.dropdown-menu,
.region-sidebar-first section.blue ul li.active ul.dropdown-menu,
.block-hzd-release-management ul li.active ul.dropdown-menu,
nav#block-optionen ul li.active ul.dropdown-menu {
  padding: 0 !important;
  border: none;
  border-radius: none;
}
.region-sidebar-first section.blue ul.menu.nav li.active ul.dropdown-menu li,
.block-hzd-release-management ul.menu.nav li.active ul.dropdown-menu li,
nav#block-optionen ul.menu.nav li.active ul.dropdown-menu li,
.region-sidebar-first section.blue ul li.active ul.dropdown-menu li,
.block-hzd-release-management ul li.active ul.dropdown-menu li,
nav#block-optionen ul li.active ul.dropdown-menu li {
  background: rgba(206, 240, 253, 0.4);
}
.region-sidebar-first section.blue ul.menu.nav li.active ul.dropdown-menu li a,
.block-hzd-release-management ul.menu.nav li.active ul.dropdown-menu li a,
nav#block-optionen ul.menu.nav li.active ul.dropdown-menu li a,
.region-sidebar-first section.blue ul li.active ul.dropdown-menu li a,
.block-hzd-release-management ul li.active ul.dropdown-menu li a,
nav#block-optionen ul li.active ul.dropdown-menu li a {
  font-size: 11px;
  color: #3370b7;
}
.region-sidebar-first section.blue ul.menu.nav li.active ul.dropdown-menu li a:hover,
.block-hzd-release-management ul.menu.nav li.active ul.dropdown-menu li a:hover,
nav#block-optionen ul.menu.nav li.active ul.dropdown-menu li a:hover,
.region-sidebar-first section.blue ul li.active ul.dropdown-menu li a:hover,
.block-hzd-release-management ul li.active ul.dropdown-menu li a:hover,
nav#block-optionen ul li.active ul.dropdown-menu li a:hover {
  font-size: 11px;
  color: #3370b7;
}
.region-sidebar-first section.blue ul.menu.nav li.active ul.dropdown-menu li:hover,
.block-hzd-release-management ul.menu.nav li.active ul.dropdown-menu li:hover,
nav#block-optionen ul.menu.nav li.active ul.dropdown-menu li:hover,
.region-sidebar-first section.blue ul li.active ul.dropdown-menu li:hover,
.block-hzd-release-management ul li.active ul.dropdown-menu li:hover,
nav#block-optionen ul li.active ul.dropdown-menu li:hover {
  background: rgba(20, 117, 160, 0.8);
}
.region-sidebar-first section.blue ul.menu.nav li.open,
.block-hzd-release-management ul.menu.nav li.open,
nav#block-optionen ul.menu.nav li.open,
.region-sidebar-first section.blue ul li.open,
.block-hzd-release-management ul li.open,
nav#block-optionen ul li.open {
  background: rgba(20, 117, 160, 0.8);
}
.region-sidebar-first section.blue ul.menu.nav li.open ul li:hover,
.block-hzd-release-management ul.menu.nav li.open ul li:hover,
nav#block-optionen ul.menu.nav li.open ul li:hover,
.region-sidebar-first section.blue ul li.open ul li:hover,
.block-hzd-release-management ul li.open ul li:hover,
nav#block-optionen ul li.open ul li:hover {
  background: rgba(20, 117, 160, 0.8);
}
.region-sidebar-first section.blue ul.menu.nav li.open ul li:hover a,
.block-hzd-release-management ul.menu.nav li.open ul li:hover a,
nav#block-optionen ul.menu.nav li.open ul li:hover a,
.region-sidebar-first section.blue ul li.open ul li:hover a,
.block-hzd-release-management ul li.open ul li:hover a,
nav#block-optionen ul li.open ul li:hover a {
  color: #fff;
  background: transparent !important;
}
#edit-services-effected .form-checkbox {
  width: 100%;
  float: left;
}
#edit-services-effected .form-checkbox input[type="checkbox"] {
  float: left;
  margin-right: 5px;
}
#edit-services-effected .form-checkbox .published-services {
  position: relative;
  margin-left: 21px;
}
#edit-services-effected .form-checkbox .published-services label {
  float: left;
  width: auto;
  padding-right: 5px;
}
#edit-services-effected .form-checkbox .published-services .service-profile-data {
  position: absolute;
  top: 15px;
  left: 100px;
}
#edit-services-effected .form-checkbox .published-services .service-profile-data .wrapper {
  background: #fff !important;
  float: left;
  position: relative;
  z-index: 10;
}
#edit-services-effected .form-checkbox .published-services .service-profile-data .wrapper table {
  border: 1px solid #3d95bc !important;
}
.form-required:after {
  margin: 0 0 4px 4px;
}
form#downtimes-filter .search_string_submit {
  padding: 0px !important;
}
form#downtimes-filter .search_string_submit button {
  margin: -1px 0 0 -1px !important;
}
form#downtimes-filter .string_search {
  margin-left: 0 !important;
}
form#downtimes-filter .type_search_dropdown label.control-label,
form#downtimes-filter .time_period_search_dropdown label.control-label {
  text-indent: -9999px;
}
form#downtimes-filter .type_search_dropdown {
  padding-right: 0 !important;
}
form#downtimes-filter .string_search.hzd-form-element {
  margin-right: 0 !important;
}
.filter_title_header {
  clear: both;
}
#no-result {
  width: 99.5%;
  border: 1px solid #e74040;
  float: left;
  background: #fce5e5;
  font-size: 25px;
  line-height: 50px;
  text-align: center;
  color: #e74040;
}
.region-sidebar-first section.blue ul.menu.nav .dropdown-menu,
.region-sidebar-first nav#block-optionen ul.menu.nav .dropdown-menu {
  position: inherit;
  box-shadow: none !important;
}
.region-sidebar-first section.blue ul.menu.nav li.active ul.dropdown-menu,
.region-sidebar-first nav#block-optionen ul.menu.nav li ul.dropdown-menu {
  border-radius: 0;
  margin: 10px 0 8px -10px;
  padding: 0 !important;
  width: 108%;
  border-bottom: 1px solid rgba(20, 117, 160, 0.2) !important;
  background: transparent;
  border: none;
}
.region-sidebar-first nav#block-optionen ul.menu.nav li ul.dropdown-menu a {
  color: #337ab7;
  font-size: 12px;
}
.view-group-faqs .view-content .views-row {
  margin: 0 0 15px 0;
  padding: 0 0 15px 0;
  border-bottom: 1px solid #ccc;
  position: relative;
  width: 100%;
  float: left;
}
.view-group-faqs .view-content .views-row .faq-title {
  width: 85%;
  float: left;
  margin-bottom: 5px;
  background: #1475a0;
  padding: 5px;
}
.view-group-faqs .view-content .views-row .faq-title .field-content {
  width: 100%;
  float: left;
  color: #fff;
  line-height: 19px;
  font-size: 13px;
}
.view-group-faqs .view-content .views-row .views-field-body {
  width: 100%;
  float: left;
}
.view-group-faqs .view-content .views-row .btn-group {
  position: absolute;
  top: 0;
  right: 0;
}
.view-group-faqs .view-content .views-row p {
  margin-bottom: 0 !important;
}
#sortable .downtime_enable .form-type-checkbox {
  text-align: center;
}
#sortable .downtime_enable .form-type-checkbox input {
  margin-left: 0 !important;
}
ul.list-inline {
  width: 100%;
  float: left;
  padding-left: 5px;
}
ul.list-inline li {
  margn-top: 10px !important;
}
.js-comment p {
  width: 100%;
  float: left;
  padding-top: 5px;
}
.js-comment h3 {
  margin-bottom: 0px !important;
}
.form-actions #save_content,
.form-actions #publish_content,
.form-actions button {
  width: auto;
  display: inline-block;
}
.form-actions #save_content,
.form-actions #publish_content {
  float: left;
}
.form-actions #save_content button {
  padding: 4.5px 10px !important;
}
ul.nav-tabs li:hover a .summary {
  color: #fff;
}
.unpublished-quickinfo-pdf-preview a,
.unpublished-quickinfo-edit-link a {
  padding-left: 25px;
  line-height: 24px;
  display: inline-block;
}
.unpublished-quickinfo-edit-link a {
  background: url(../images/edit-icon.png) left top no-repeat !important;
  padding-left: 25px;
}
.unpublished-quickinfo-pdf-preview a {
  background: url(../images/view-pdf-icon.png) left top no-repeat !important;
}
article.downtimes .Incident {
  width: 100%;
  float: left;
  padding-bottom: 2px;
}
article.downtimes .Incident .downtimes_title {
  font-weight: 600;
  display: inline-block;
  width: 100px;
  letter-spacing: 0.5px;
}
article.downtimes .Incident .downtimes_title:after {
  content: ": ";
}
article.downtimes .Incident .downtimes_content {
  width: auto;
  display: inline-block;
}
form.incidents .incident_states_filter_form_wrapper,
form.maintenance .incident_states_filter_form_wrapper {
  width: 100%;
  float: left;
  padding-top: 10px;
}
form.incidents .downtimes_states_filter_form_wrapper,
form.maintenance .downtimes_states_filter_form_wrapper {
  width: 100%;
  float: left;
}
.curr_incidents_form + .reset_form {
  float: left !important;
  margin: 23px 0 0 0 !important;
}
form .label {
  letter-spacing: 0.5px;
}
nav#block-optionen ul.menu.nav li.expanded.dropdown.open a.dropdown-toggle {
  background: transparent !important;
}
form#downtimes-filter .archive_other_states_filter_form_wrapper,
form#downtimes-filter .archive_downtimes_states_filter_form_wrapper,
form#downtimes-filter .archive_downtimes_dates_filter_form_wrapper,
form#downtimes-filter .archived_maintenance_search_results_wrapper {
  width: 100%;
  float: left;
}
form#downtimes-filter .string_search.hzd-form-element {
  width: 25% !important;
  margin-top: 20px;
}
form#downtimes-filter .archive_downtimes_dates_filter_form_wrapper .search_string_submit {
  margin-top: 20px;
}
strong {
  font-weight: normal;
}
