.service_search_dropdown{
float:left;
width:auto;
padding-left:0px;
}
.releases_search_dropdown{
float:left;
width:auto;
padding-left:0px;
margin-left:16px;
}

.filter_start_date{
float:left;
width:auto;
padding-left:5px;
}

.filter_end_date{
float:left;
width:auto;
padding-left:5px;
}

.limit_search_dropdown{
float:right;
width:auto;
}