// Color variables (appears count calculates by raw css)
@color0: #04425f;
@color1: #ffffff;
@color2: #0c4f6d;
@color3: #d9e4ee;
@color4: #edf4fa;
@color5: #cccccc;
@color6: #424241; 
@color7: #eaeff5; 
@color8: #c9e1bd;
@color9: #7fa9bc; 
@color10: #f4daa6;
@color11: #222222;
@color12: #31708f; 
@color13: #f9c9bf; 
@color14: #fafafa; 
@color15: #e74040;
@color16: #c6dee8;
@color17: #096087;
@color18: #555555;

// Width variables (appears count calculates by raw css)
@width0: 250px; 
@width7: 108%; 
@width9: 100%;
@width10: 19%; 
@width16: 31%; 
@width17: 80%; 

// Height variables (appears count calculates by raw css)
@height3: 32px; 

@font-face {
	font-family: 'roboto_condensedbold';
	font-family: 'roboto_condensedregular';
	font-family: 'robotomedium';
	font-family: 'robotoregular';
	font-style: normal;
	src: url('../fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Medium-webfont.woff') format('woff'), url('../fonts/Roboto-Medium-webfont.ttf') format('truetype'), url('../fonts/Roboto-Medium-webfont.svg#robotomedium') format('svg');
	src: url('../fonts/Roboto-Medium-webfont.eot');
	src: url('../fonts/roboto-regular_6-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-regular_6-webfont.woff2') format('woff2'), url('../fonts/roboto-regular_6-webfont.woff') format('woff'), url('../fonts/roboto-regular_6-webfont.ttf') format('truetype'), url('../fonts/roboto-regular_6-webfont.svg#roboto_condensedregular') format('svg');
	src: url('../fonts/roboto-regular_6-webfont.eot');
	src: url('../fonts/robotocondensed-bold-webfont.woff2') format('woff2'), url('../fonts/robotocondensed-bold-webfont.woff') format('woff');
	src: url('../fonts/robotocondensed-regular-webfont.woff2') format('woff2'), url('../fonts/robotocondensed-regular-webfont.woff') format('woff');
}
a, div, span, img, h1, h2, h3, h4, h5, h6, input, button  {
	outline: none !important;
}
body {
	color: @color11;
	font-family: 'robotoregular';
	font-size: 15px;
	line-height: 1.6;
	margin: 0;
	padding: 0;
}
p {
	margin-bottom: 15px;
	word-wrap: break-word;
}
#block-primarylinks {
	background-color: @color0;
	float: left;
	width: @width9;
	h2 {
		display: none;
	}
	ul {
		float: left;
		width: @width9;
		li {
			display: inline-block;
			width: @width9;
			width: auto;
			a {
				color: @color1;
				text-decoration: none;
			}
			a.hover {
				text-decoration: underline;
			}
		}
		li.active {
			display: inline-block;
			width: auto;
		}
		ul.dropdown-menu {
			-moz-box-shadow: 4px 5px 18px -3px rgba(0, 0, 0, 0.5);
			-webkit-box-shadow: 4px 5px 18px -3px rgba(0, 0, 0, 0.5);
			background: @color1 !important;
			border-color: #aaaaaa;
			border-radius: 0px 0px 3px 3px;
			border-style: solid;
			border-width: 0 1px 1px 1px;
			box-shadow: 4px 5px 18px -3px rgba(0, 0, 0, 0.5);
			margin: 0;
			li {
				float: left;
				width: @width9;
				a {
					color: @color0;
					float: left;
					padding-bottom: 5px;
					padding-top: 5px;
					width: @width9;
					&amp;:hover {
						text-decoration:underline;
					}
				}
				&amp;:last-child {
					a {
						border-bottom: none !important;
					}
				}
			}
		}
	}
}
a {
	color: @color12;
	word-wrap: break-word;
}
a.hover {
	color: @color12;
	text-decoration: underline;
}
footer h2, a.name.navbar-brand, #block-customtable h2.block-title, #block-hzd-main-menu  {
	float: right;
}
footer h2 ul, a.name.navbar-brand ul, #block-customtable h2.block-title ul, #block-hzd-main-menu ul  {
	float: right;
	width: auto;
}
footer h2 ul li, a.name.navbar-brand ul li, #block-customtable h2.block-title ul li, #block-hzd-main-menu ul li  {
	float: right;
}
footer h2 ul li a, a.name.navbar-brand ul li a, #block-customtable h2.block-title ul li a, #block-hzd-main-menu ul li a  {
	color: @color6;
	line-height: 25px;
	padding: 22px 10px 0 10px;
}
footer h2 ul li a:hover, a.name.navbar-brand ul li a:hover, #block-customtable h2.block-title ul li a:hover, #block-hzd-main-menu ul li a:hover, footer h2 ul li a:focus, a.name.navbar-brand ul li a:focus, #block-customtable h2.block-title ul li a:focus, #block-hzd-main-menu ul li a:focus  {
	background: @color1;
	color: @color2;
}
footer {
	.region-footer {
		background-color: @color0;
		color: @color1;
		margin: 20px auto 0 auto;
		padding: 8px !important;
		.cp {
			color: @color1;
		}
		.footer-links {
			a {
				color: @color1;
			}
		}
		a {
			&amp;:hover {
				text-decoration: none;
			}
		}
	}
	h2 {
		display: none;
	}
}
.footer-links {
	float: left;
	float: right;
	text-align: center;
	text-align: right;
	width: @width9;
}
#block-customtable {
	table {
		float: left;
		margin-bottom: 50px;
		width: @width9;
		th {
			border: 1px solid @color16;
			color: @color6;
			font-size: 12px;
			font-weight: bold;
			padding: 8px;
		}
		td {
			border: 1px solid @color16;
			color: @color6;
			font-size: 12px;
			padding: 8px;
		}
	}
	tr.odd {
		background: @color7;
	}
	thead {
		display: none;
		tr {
			background: @color7;
		}
	}
	td {
		-moz-border-bottom-colors: none;
		-moz-border-left-colors: none;
		-moz-border-right-colors: none;
		-moz-border-top-colors: none;
		border-color: -moz-use-text-color -moz-use-text-color #eeeeee;
		border-image: none;
		border-style: none none solid;
		border-width: medium medium 1px;
		padding-left: 50% !important;
		position: relative;
		text-align: left;
		white-space: normal;
		&amp;:before {
			content: attr(data-title);
			font-weight: bold;
			left: 6px;
			padding-right: 10px;
			position: absolute;
			text-align: left;
			top: 6px;
			white-space: nowrap;
			width: 45%;
		}
	}
	tr {
		margin-bottom: 15px;
	}
}
h1, h2, h3, h4, h5, h6  {
	color: @color12;
	margin: 25px 0 15px 0 !important;
}
h1 {
	font-size: 25px;
}
h2 {
	float: left;
	font-size: 22px;
	line-height: 29px;
	width: @width9;
	a {
		float: left;
		font-size: 22px;
		line-height: 29px;
		width: @width9;
	}
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 16px;
}
.cus-table {
	float: left;
	width: @width9;
}
@media {
	only {
		screen {
			and {
				(min-width {
					&amp;:768px) {
						#block-primarylinks ul ul { width: auto !important;
					}
				}
				(max-width {
					&amp;:767px) {
						.path-user .region-content nav.tabs li a { padding: 7px !important;
						font-size: 14px !important;
					}
				}
			}
		}
	}
}
.path-user {
	.region-content {
		nav.tabs {
			background: @color0;
			border-bottom: 0 !important;
			border-top: 1px solid @color0;
			padding: 0 !important;
			width: @width9;
			li {
				margin: 0 !important;
				a {
					background: @color0;
					border-radius: 0 !important;
					border: none !important;
					color: @color1 !important;
					font-size: 15px;
					margin-right: 0 !important;
					margin-top: -1px;
					padding: 8px 33px !important;
					text-transform: capitalize;
					&amp;:hover {
						background: @color2 !important;
						color: @color1 !important;
					}
					&amp;:focus {
						background: @color2 !important;
						color: @color1 !important;
					}
				}
			}
			.nav-tabs {
				border: none !important;
			}
			li.active {
				a {
					background: @color14 !important;
					color: @color0 !important;
				}
			}
			.tabs--secondary {
				li.active {
					a {
						background: transparent !important;
					}
				}
			}
		}
		.tabs--primary.nav-tabs {
			li {
				border: 3px solid @color0;
			}
		}
	}
}
body.not-loggedin.path-user {
	.region-content {
		background: @color14;
		border: 3px solid #f4f4f4;
		margin: 50px auto 0 auto;
		width: 506px;
		width: @width9;
		h1 {
			border-bottom: none !important;
			float: left;
			font-size: 22px;
			font-weight: normal !important;
			text-indent: 31px;
			text-transform: capitalize;
			width: @width9;
		}
	}
}
header {
	background: transparent !important;
	border: none !important;
	padding: 0 !important;
	.navbar-collapse.collapse {
		border-top: 0 !important;
		padding: 0 !important;
	}
}
.user-login-form, .user-register-form, .user-pass, .path-user .region-content nav.tabs  {
	background: @color14;
	margin: 0 auto;
	padding: 0 25px 50px 25px;
	width: 500px;
	width: @width9;
}
button.navbar-toggle {
	background: @color0;
	border-radius: 0 !important;
	border: none !important;
	float: left !important;
	margin-bottom: 0 !important;
	margin-left: 15px;
	&amp;:hover {
		background: rgba(20, 117, 160, 0.8) !important;
	}
	&amp;:focus {
		background: rgba(20, 117, 160, 0.8) !important;
	}
}
.navbar-default {
	.navbar-toggle {
		.icon-bar {
			background: @color1 !important;
		}
	}
}
.navbar-collapse {
	margin-left: 0px !important;
	width: @width9 !important;
}
form {
	.hzd-form-element {
		width: @width9 !important;
	}
	.label {
		letter-spacing: 0.5px;
	}
}
.logo {
	img {
		margin-left: 20px;
	}
}
#block-hzd-main-menu {
	ul {
		li {
			width: @width9;
			a {
				padding-left: 15px !important;
			}
		}
	}
}
nav#block-hzd-main-menu {
	margin: 0 !important;
	width: @width9;
	ul {
		margin: 0 !important;
		width: @width9;
	}
}
#block-customtable table, #block-customtable thead, #block-customtable tbody, #block-customtable tr, #block-customtable th, #block-customtable td  {
	display: block;
}
.cp {
	float: left;
	text-align: center;
	width: @width9;
}
#block-general {
	background: @color7;
	border: 1px solid @color0;
	float: left;
	margin-bottom: 20px;
	margin-top: 20px;
	width: @width9;
	li {
		a {
			color: @color6;
			font-size: 14px;
			padding: 5px 10px !important;
			&amp;:hover {
				background: @color7;
				color: @color0;
			}
		}
	}
	h2 {
		background: @color0;
		color: @color1;
		font-size: 15px;
		font-weight: bold;
		margin: 0 !important;
		padding: 10px 15px;
	}
}
.navbar-toggle {
	margin-top: 20px !important;
}
.navbar-brand {
	display: none;
}
.footer {
	border: none;
}
.main-container {
	min-height: 400px;
}
.form-control {
	border-radius: 2px !important;
}
.user-login-form .control-label, .user-register-form .control-label, .user-pass .control-label, .path-user .region-content nav.tabs .control-label  {
	font-weight: normal;
}
.user-login-form .form-required, .user-register-form .form-required, .user-pass .form-required, .path-user .region-content nav.tabs .form-required  {
	padding-left: 3px;
}
.user-login-form {
	border-top: 0 !important;
	button {
		background: @color0;
		border: none !important;
		color: @color1;
		float: right;
		margin-bottom: 25px;
	}
}
.user-register-form {
	border-top: 0 !important;
	button {
		background: @color0;
		border: none !important;
		color: @color1;
		float: right;
		margin-bottom: 25px;
	}
}
.user-pass {
	border-top: 0 !important;
	button {
		background: @color0;
		border: none !important;
		color: @color1;
		float: right;
		margin-bottom: 25px;
	}
}
.user-login-form button:hover, .user-register-form button:hover, .user-pass button:hover, .user-login-form button:focus, .user-register-form button:focus, .user-pass button:focus, .user-login-form .btn-success:hover, .user-register-form .btn-success:hover, .user-pass .btn-success:hover, .user-login-form button:hover, .user-register-form button:hover, .user-pass button:hover  {
	background: @color2 !important;
	color: @color1 !important;
}
.region-content {
	.field--label-inline {
		background: @color4;
		border-bottom: none;
		border: 2px solid @color3;
		float: left;
		line-height: 22px;
		padding: 1% 0% 1% 1%;
		width: @width9;
		.field--label {
			float: left;
			font-family: 'robotomedium';
			font-weight: 300 !important;
			width: @width10;
		}
		.field--item {
			background: @color4;
			float: left;
			padding-left: 1%;
			width: @width17;
		}
	}
}
.user-groups {
	.user-group-list {
		background: @color4;
		border-bottom: none;
		border: 2px solid @color3;
		float: left;
		line-height: 22px;
		padding: 1% 0% 1% 1%;
		width: @width9;
		.field--label {
			float: left;
			font-family: 'robotomedium';
			font-weight: 300 !important;
			width: @width10;
		}
		.field--item {
			background: @color4;
			float: left;
			padding-left: 1%;
			width: @width17;
		}
	}
}
.alert-danger {
	background-color: #fcf4f2;
	background: rgba(199, 3, 3, 0.05) url(../images/error.svg) 10px 12px no-repeat;
	border-color: @color13 @color13 @color13 transparent;
	box-shadow: -8px 0 0 #e62600;
	color: #a51b00;
}
.alert-warning {
	background-color: #fdf8ed;
	background: rgba(244, 218, 166, 0.05) url(../images/warning.svg) 10px 12px no-repeat;
	border-color: @color10 @color10 @color10 transparent;
	box-shadow: -8px 0 0 #e09600;
	color: #734c00;
}
.alert-success {
	background-color: #f3faef;
	background: rgba(201, 225, 189, 0.05) url(../images/check.svg) 10px 12px no-repeat;
	border-color: @color8 @color8 @color8 transparent;
	box-shadow: -8px 0 0 #77b259;
	color: #325e1c;
}
.alert {
	border-radius: 2px;
	border-width: 1px 1px 1px 0;
	border: 1px solid;
	margin-bottom: 20px;
	margin-left: 8px;
	overflow-wrap: break-word;
	padding: 10px 20px 10px 35px;
	word-wrap: break-word;
	a {
		letter-spacing: 0.5px;
	}
}
.alert-dismissable {
	.close {
		right: 0 !important;
	}
}
.alert-dismissible {
	.close {
		right: 0 !important;
	}
}
.menu-filter {
	background: #9db2c3;
	border-bottom: 2px solid #6e8496;
	float: left;
	margin: 8px 0 20px 0 !important;
	padding: 6px 5px;
	width: @width9;
	ul {
		float: left;
		margin: 0 0 0px 0 !important;
		padding: 0 !important;
		width: @width9;
		li {
			background: transparent !important;
			color: @color1;
			float: left;
			list-style-type: none;
			list-style-type: none !important;
			margin: 0 !important;
			padding: 0 10px 0 0 !important;
			width: auto !important;
		}
		img {
			float: left;
			margin-right: 4px;
			margin-top: 3px;
		}
	}
}
form.release-filter-form {
	float: left;
	width: @width9;
	.hzd-form-element {
		float: left;
		margin: 0 2% 1% 0;
		width: @width16;
	}
	.limit_search_dropdown.hzd-form-element {
		margin-top: 24px;
	}
}
.table-responsive {
	float: left;
	padding-top: 10px;
	width: @width9;
	.hzd-form-element {
		float: left;
		margin: 0 2% 1% 0;
		width: @width16;
	}
	ul.dropdown-menu {
		margin: 0 !important;
		min-width: 105px !important;
		padding: 0 !important;
		li {
			padding: 0px !important;
			a {
				padding: 5px !important;
			}
		}
	}
}
.nav-tabs&gt;li.active&gt;a {
	border-left: 1px solid @color0 !important;
	border-right: 1px solid @color0 !important;
	border-top: 1px solid @color0 !important;
	&amp;:hover {
		border-left: 1px solid @color0 !important;
		border-right: 1px solid @color0 !important;
		border-top: 1px solid @color0 !important;
	}
	&amp;:focus {
		border-left: 1px solid @color0 !important;
		border-right: 1px solid @color0 !important;
		border-top: 1px solid @color0 !important;
	}
}
.nav-tabs {
	border-bottom: 1px solid @color0 !important;
	margin-bottom: 25px !important;
	li {
		background: transparent !important;
		list-style-type: none !important;
		margin: 0 0 -1px 0 !important;
		padding: 0 !important;
		width: auto !important;
	}
}
.nav-tabs&gt;li&gt;a {
	color: @color18 !important;
	&amp;:hover {
		border-color: #5289a1;
	}
}
.nav&gt;li&gt;a {
	color: @color11;
	&amp;:hover {
		background-color: @color0;
		text-decoration: underline;
	}
	&amp;:focus {
		background-color: @color0;
		text-decoration: underline;
	}
}
table {
	border: 1px solid @color3;
	float: left;
	margin: 10px 0 !important;
	width: @width9 !important;
	tr {
		th {
			background: @color0;
			border-bottom: 2px solid #0e658c !important;
			color: @color1;
		}
	}
	tr.odd {
		background: @color4 !important;
		td {
			border-bottom: 1px solid @color3 !important;
			border-top: 1px solid @color3 !important;
		}
	}
	tr.even {
		&amp;:hover {
			background: #f9f9f9 !important;
		}
	}
	th {
		background: @color0;
		color: @color1;
		line-height: 17px !important;
		padding: 5px 10px;
		vertical-align: middle !important;
	}
	td {
		border-bottom: 1px solid @color5;
		border-right: 1px solid @color5;
		padding: 5px 10px;
	}
}
.warningcount {
	background: url(../images/warning-icon.png) left top no-repeat;
	float: left;
	font-size: 11px;
	height: 24px;
	line-height: 29px;
	text-align: center;
	width: 28px;
}
aside {
	section.blue {
		display: inline-block;
		margin-bottom: 20px;
		padding-bottom: 5px;
		width: @width9;
		h2 {
			color: @color0;
			font-size: 20px;
			font-weight: bold;
			line-height: 20px;
			margin: 0 !important;
			padding: 10px 10px;
		}
		.field--name-body {
			padding: 0px;
			ul {
				float: left;
				margin: 0;
				padding: 0;
				width: @width9;
				li {
					list-style-type: none;
					padding: 6px 10px 8px 10px;
					a {
						display: block;
						width: @width9;
					}
					&amp;:last-child {
						border: none;
					}
					&amp;:hover {
						a {
						}
					}
				}
			}
		}
	}
}
.region-sidebar-first {
	.block-hzd-release-management {
		display: inline-block;
		margin-bottom: 20px;
		padding-bottom: 5px;
		width: @width9;
		h2 {
			color: @color0;
			font-size: 20px;
			font-weight: bold;
			line-height: 20px;
			margin: 0 !important;
			padding: 10px 10px;
		}
		.field--name-body {
			padding: 0px;
			ul {
				float: left;
				margin: 0;
				padding: 0;
				width: @width9;
				li {
					list-style-type: none;
					padding: 6px 10px 8px 10px;
					a {
						display: block;
						width: @width9;
					}
					&amp;:last-child {
						border: none;
					}
					&amp;:hover {
						a {
						}
					}
				}
			}
		}
	}
	section.blue {
		padding: 0px;
		ul.menu.nav {
			.dropdown-menu {
				box-shadow: none !important;
				position: inherit;
			}
			li.active {
				ul.dropdown-menu {
					background: transparent;
					border-bottom: 1px solid rgba(20, 117, 160, 0.2) !important;
					border-radius: 0;
					border: none;
					margin: 10px 0 8px -10px;
					padding: 0 !important;
					width: @width7;
				}
			}
		}
	}
	nav#block-optionen {
		ul.menu.nav {
			.dropdown-menu {
				box-shadow: none !important;
				position: inherit;
			}
			li {
				ul.dropdown-menu {
					background: transparent;
					border-bottom: 1px solid rgba(20, 117, 160, 0.2) !important;
					border-radius: 0;
					border: none;
					margin: 10px 0 8px -10px;
					padding: 0 !important;
					width: @width7;
					a {
						color: #337ab7;
						font-size: 12px;
					}
				}
			}
		}
	}
}
nav#block-optionen {
	display: inline-block;
	margin-bottom: 20px;
	padding-bottom: 5px;
	padding: 0px;
	width: @width9;
	h2 {
		color: @color0;
		font-size: 20px;
		font-weight: bold;
		line-height: 20px;
		margin: 0 !important;
		padding: 10px 10px;
	}
	.field--name-body {
		padding: 0px;
		ul {
			float: left;
			margin: 0;
			padding: 0;
			width: @width9;
			li {
				list-style-type: none;
				padding: 6px 10px 8px 10px;
				a {
					display: block;
					width: @width9;
				}
				&amp;:last-child {
					border: none;
				}
				&amp;:hover {
					a {
					}
				}
			}
		}
	}
	ul.menu.nav {
		li.expanded.dropdown.open {
			a.dropdown-toggle {
				background: transparent !important;
			}
		}
	}
}
h1.page-header {
	font-size: 25px;
	margin: 0 0 20px 0 !important;
}
.col-sm-9 {
	.field--name-body.field--type-text-with-summary {
		ul {
			float: left;
			margin: 0 0 10px 0;
			padding: 0;
			width: @width9;
			li {
				background: url(../images/list-bullet.jpg) left 7px no-repeat;
				float: left;
				list-style-type: none;
				margin-bottom: 10px;
				padding-left: 16px;
				width: @width9;
			}
		}
	}
}
table.tablesorter {
	thead {
		tr {
			.header {
				background-image: url(/modules/custom/hzd_problem_management/images/bg.gif);
				background-position: center right;
				background-repeat: no-repeat;
				cursor: pointer;
				padding-right: 24px;
			}
		}
	}
}
.input-group-addon {
	border-left: none !important;
	border-radius: 0px 4px 4px 0px !important;
}
input.hasDatepicker {
	border-radius: 4px 0px 0px 4px !important;
	height: @height3 !important;
}
input.start_date {
	border-radius: 4px 0px 0px 4px !important;
	height: @height3 !important;
}
input.end_date {
	border-radius: 4px 0px 0px 4px !important;
	height: @height3 !important;
}
.filter_end_date {
	padding-left: 0 !important;
	input {
		border: 1px solid @color5;
	}
}
.filter_start_date {
	input {
		border: 1px solid @color5;
	}
}
#pagination {
	float: left;
	text-align: center;
	width: @width9;
	ul {
		margin-right: 15px;
		margin-top: 20px;
		li {
			background: none !important;
			display: inline-block !important;
			float: none !important;
			line-height: 26px !important;
			padding: 0 !important;
			width: auto;
			a {
				background: @color0;
				border: none;
				color: @color1 !important;
				float: left;
				font-size: 13px;
				padding: 4px 8px !important;
				&amp;:hover {
					background-color: @color17 !important;
				}
			}
		}
		li.pager__item--ellipsis {
			display: none;
		}
		li.active {
			a {
				background-color: @color17 !important;
			}
		}
	}
}
.pagination&gt;li {
	&amp;:first-child&gt;a {
		border-radius: 3px 0px 0 3px !important;
	}
	&amp;:first-child&gt;span {
		border-radius: 3px 0px 0 3px !important;
	}
}
#released_results_wrapper {
	overflow: auto;
	width: @width9;
}
#block-hzdheaderlinks {
	float: right;
	padding-top: 25px;
}
.user-logged-in {
	#block-hzdheaderlinks {
		float: right;
		padding-top: 5px !important;
	}
}
.navbar-header {
	float: left;
	width: @width9;
}
.red {
	background: #fff1eb;
	border: 1px solid #c9252b;
	margin: 4px 0;
}
.rteindent2 {
	margin: 5% 15%;
}
.rteindent1 {
	margin: 0 8%;
}
.testing {
	font-size: 12px;
}
#header-right {
	float: right;
	width: 65%;
	#block-hzdheaderlinks {
		float: right;
		width: @width9;
		.field--name-body {
			float: right;
			padding-bottom: 8px;
			width: auto;
		}
	}
	form#search-block-form {
		float: right;
		width: @width0;
		button {
			background: @color0 !important;
		}
	}
	a {
		color: @color0;
		font-size: 14px;
		padding: 0 2px;
	}
}
button, input[type="submit"], input[type="reset"], input[type="button"] {
	background: @color0;
	border-radius: 4px;
	color: @color1;
	font-size: 12px;
	padding: 4px 10px;
}
input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, .btn-default:hover  {
	background: @color2 !important;
}
.btn-default {
	background: @color0 !important;
	border-radius: 4px;
	border: none !important;
	color: @color1 !important;
	float: right;
	font-size: 14px;
	padding: 4px 10px;
}
.views-exposed-form {
	button {
		background: @color0 !important;
		border-radius: 4px;
		border: none !important;
		color: @color1 !important;
		float: right;
		font-size: 14px;
		padding: 4px 10px;
	}
	.js-form-item {
		label.control-label {
			font-family: 'robotomedium';
			font-weight: 300 !important;
		}
	}
	#edit-actions {
		margin-bottom: 0 !important;
	}
	input[type="text"] {
		border-radius: 3px !important;
		height: 28px !important;
		margin-left: 3px;
	}
}
.hzd-form-element {
	float: left;
	margin: 0 2% 1% 0;
	width: @width16;
}
.hzd-form-element-auto {
	float: left;
	margin: 0 2% 1% 0;
	width: auto;
}
select {
	width: inherit !important;
}
.search_string_submit {
	button {
		background: url(../images/form-search-btn.png) left top no-repeat !important;
		border-radius: 3px !important;
		display: block !important;
		float: left;
		height: 34px;
		width: 36px;
	}
}
#problem_search_results_wrapper {
	.reset_form {
		margin: 0 !important;
	}
}
.reset_form {
	float: right !important;
	margin-right: 27px;
}
.form-group:last-child, .panel:last-child, .popover ol:last-child, .popover ul:last-child, p:last-child  {
	margin-bottom: 10px !important;
}
.field--name-body {
	word-wrap: break-word;
}
.field--label {
	letter-spacing: 0.5px;
}
.file {
	letter-spacing: 0.5px;
}
li.comment-add {
	background: none !important;
	border-bottom: 1px solid @color0;
	border-top: 1px solid @color0;
	float: left;
	line-height: 30px;
	list-style-type: none;
	margin-top: 15px;
	text-align: right;
}
li.comment-delete {
	background: none !important;
	border-right: 1px solid @color9;
	float: left;
	list-style-type: none;
	margin: 0 !important;
	padding: 0 !important;
	width: auto !important;
	a {
		background: @color0;
		border-radius: 2px 0 0 2px;
		color: @color1;
		float: left;
		font-size: 12px;
		line-height: 25px;
		padding: 0 10px;
		&amp;:hover {
			background: @color2;
			text-decoration: none;
		}
	}
}
li.comment-edit {
	background: none !important;
	border-right: 1px solid @color9;
	float: left;
	list-style-type: none;
	margin: 0 !important;
	padding: 0 !important;
	width: auto !important;
	a {
		background: @color0;
		color: @color1;
		float: left;
		font-size: 12px;
		line-height: 25px;
		padding: 0 10px;
		&amp;:hover {
			background: @color2;
			text-decoration: none;
		}
	}
}
li.comment-reply {
	background: none !important;
	border-right: 0 !important;
	border-right: 1px solid @color9;
	float: left;
	list-style-type: none;
	margin: 0 !important;
	padding: 0 !important;
	width: auto !important;
	a {
		background: @color0;
		border-radius: 0 2px 2px 0;
		color: @color1;
		float: left;
		font-size: 12px;
		line-height: 25px;
		padding: 0 10px;
		&amp;:hover {
			background: @color2;
			text-decoration: none;
		}
	}
}
.hzd-secondary-tabs.path-user {
	ul.tabs--secondary {
		border-bottom: 1px solid @color0;
		border-radius: 0 !important;
		float: left;
		margin-bottom: 20px;
		padding-bottom: 5px;
		width: @width9;
		li {
			background: transparent !important;
			float: left;
			list-style-type: none;
			padding: 0 !important;
			width: auto;
			a {
				background: transparent !important;
				border-right: 1px solid @color0 !important;
				color: @color6 !important;
				font-size: 13px;
				margin: 0;
				padding: 0px 15px !important;
				&amp;:hover {
					background: transparent !important;
					color: @color0 !important;
				}
				&amp;:focus {
					background: transparent !important;
					color: @color0 !important;
				}
			}
			active.a {
				background: transparent !important;
				color: @color0 !important;
			}
			&amp;:last-child {
				a {
					border: none !important;
				}
			}
		}
	}
}
.hzd-secondary-tabs {
	.service-notifications-user-form {
		.hzd_time_interval {
			div.form-type-radio {
				float: left;
				margin: 0 5px;
				width: auto;
			}
		}
	}
	.schnellinfos-notifications-user-form {
		.hzd_time_interval {
			div.form-type-radio {
				float: left;
				margin: 0 5px;
				width: auto;
			}
		}
	}
	.hzd-form-element {
		.js-form-item {
			margin-bottom: 0 !important;
		}
	}
	.js-form-item {
		.form-required {
			display: none;
		}
	}
	form {
		padding-bottom: 15px;
	}
	.notifications_title {
		color: @color0;
		font-size: 15px;
		font-weight: bold;
		padding-bottom: 5px;
	}
}
button[value="Save"] {
	font-size: 12px;
	margin: 0 5px 10px 0 !important;
	padding: 3px 8px !important;
	text-transform: capitalize;
}
button[value="update"] {
	font-size: 12px;
	margin: 0 5px 10px 0 !important;
	padding: 3px 8px !important;
	text-transform: capitalize;
}
button[value="Delete"] {
	font-size: 12px;
	margin: 0 5px 10px 0 !important;
	padding: 3px 8px !important;
	text-transform: capitalize;
}
table.view-deployed-releases {
	position: relative;
}
.nav {
	.open&gt;a {
		background-color: @color0;
		&amp;:hover {
			background-color: @color0;
		}
		&amp;:focus {
			background-color: @color0;
		}
	}
}
.dropdown-menu {
	border: 0;
}
.dropdown-menu&gt;.active&gt;a {
	background-color: @color1;
	&amp;:hover {
		background-color: @color1;
	}
	&amp;:focus {
		background-color: @color1;
	}
}
.dropdown-menu&gt;li&gt;a {
	&amp;:hover {
		background-color: @color1;
		text-decoration: underline;
	}
	&amp;:focus {
		background-color: @color1;
		text-decoration: underline;
	}
}
article {
	.quickedit-field {
		float: left;
		margin-bottom: 5px;
		width: @width9;
		.field__items {
			.field--item {
				display: inline-block;
				float: left;
				padding-right: 5px;
				width: auto;
			}
		}
	}
}
.hide-field-content {
	display: none;
}
.breadcrumb {
	border-radius: 0px;
	border: 1px solid #dddddd;
	float: left;
	margin-bottom: 0 !important;
	width: @width9;
}
.breadcrumb&gt;.active {
	color: @color18;
}
.masquerade-block-form {
	#masquerade-block-form {
		.form-actions {
			margin-bottom: 0 !important;
		}
		input {
			height: 29px !important;
		}
		.input-group-addon {
			padding: 5px 10px !important;
		}
	}
}
#group-notifications-user-form {
	.table-responsive {
		tr {
			td {
				width: 50%;
			}
		}
		.hzd_time_interval {
			div.form-type-radio {
				float: left;
				line-height: 22px;
				margin: 5px 7px !important;
				width: auto !important;
			}
		}
	}
}
.hzd-user-profile-info {
	border-bottom: 2px solid @color3;
	float: left;
	width: @width9;
}
.hzd-groups-info {
	border-bottom: 2px solid @color3;
	float: left;
	width: @width9;
}
.hzd-user-profile {
	margin-top: -18px;
}
.table-striped&gt;tbody&gt;tr {
	&amp;:nth-of-type(odd) {
		background: @color4 !important;
	}
}
.node-preview-container {
	background: @color0;
	left: 10px;
	top: 95px;
	width: @width0;
	a.node-preview-backlink {
		color: @color1 !important;
		float: left;
		font-family: 'robotomedium';
		font-size: 15px;
		padding-bottom: 5px;
	}
	a {
		&amp;:hover {
			opacity: 0.8;
			text-decoration: none;
		}
	}
	label.control-label {
		display: none;
	}
	select {
		display: inline;
	}
	.form-type-select {
		margin-left: 0 !important;
	}
}
.navbar-collapse.collapsing {
	margin: 0 !important;
	padding: 0 !important;
	width: @width9 !important;
}
.btn-primary {
	background: @color0 !important;
	padding: 3px 10px !important;
}
form.contact-message-form {
	label {
		font-family: 'robotomedium';
		font-weight: 400 !important;
	}
}
form.problem-filter-form {
	.string_search.hzd-form-element {
		margin-right: -2px !important;
	}
}
.block-hzd-release-management {
	padding: 0px;
}
.region-sidebar-first section.blue ul.menu.nav, .block-hzd-release-management ul.menu.nav, nav#block-optionen ul.menu.nav, .region-sidebar-first section.blue ul, .block-hzd-release-management ul, nav#block-optionen ul  {
	float: left;
	margin: 0;
	padding: 0;
	width: @width9;
}
.region-sidebar-first section.blue ul.menu.nav li, .block-hzd-release-management ul.menu.nav li, nav#block-optionen ul.menu.nav li, .region-sidebar-first section.blue ul li, .block-hzd-release-management ul li, nav#block-optionen ul li  {
	list-style-type: none;
	padding: 5px 10px 5px 10px;
}
.region-sidebar-first section.blue ul.menu.nav li a, .block-hzd-release-management ul.menu.nav li a, nav#block-optionen ul.menu.nav li a, .region-sidebar-first section.blue ul li a, .block-hzd-release-management ul li a, nav#block-optionen ul li a  {
	background-color: @color1;
	color: @color11;
	display: block;
	line-height: 20px;
	padding: 0;
	width: @width9;
}
.region-sidebar-first section.blue ul.menu.nav li.active ul.dropdown-menu, .block-hzd-release-management ul.menu.nav li.active ul.dropdown-menu, nav#block-optionen ul.menu.nav li.active ul.dropdown-menu, .region-sidebar-first section.blue ul li.active ul.dropdown-menu, .block-hzd-release-management ul li.active ul.dropdown-menu, nav#block-optionen ul li.active ul.dropdown-menu  {
	background-color: @color1;
	border-radius: none;
	border: none;
	padding: 0 !important;
}
#edit-services-effected {
	.form-checkbox {
		float: left;
		width: @width9;
		input[type="checkbox"] {
			float: left;
			margin-right: 5px;
		}
		.published-services {
			margin-left: 21px;
			position: relative;
			label {
				float: left;
				padding-right: 5px;
				width: auto;
			}
			.service-profile-data {
				left: 100px;
				position: absolute;
				top: 15px;
				.wrapper {
					background: @color1 !important;
					float: left;
					position: relative;
					z-index: 10;
					table {
						border: 1px solid #3d95bc !important;
					}
				}
			}
		}
	}
}
.form-required {
	&amp;:after {
		margin: 0 0 4px 4px;
	}
}
form#downtimes-filter {
	.search_string_submit {
		padding: 0px !important;
		button {
			margin: -1px 0 0 -1px !important;
		}
	}
	.string_search {
		margin-left: 0 !important;
	}
	.type_search_dropdown {
		padding-right: 0 !important;
		label.control-label {
			text-indent: -9999px;
		}
	}
	.time_period_search_dropdown {
		label.control-label {
			text-indent: -9999px;
		}
	}
	.string_search.hzd-form-element {
		margin-right: 0 !important;
		margin-top: 20px;
		width: 25% !important;
	}
	.archive_downtimes_dates_filter_form_wrapper {
		.search_string_submit {
			margin-top: 20px;
		}
	}
}
.filter_title_header {
	clear: both;
}
#no-result {
	background: #fce5e5;
	border: 1px solid @color15;
	color: @color15;
	float: left;
	font-size: 25px;
	line-height: 50px;
	text-align: center;
	width: 99.5%;
}
.view-group-faqs {
	.view-content {
		.views-row {
			border-bottom: 1px solid @color5;
			float: left;
			margin: 0 0 15px 0;
			padding: 0 0 15px 0;
			position: relative;
			width: @width9;
			.faq-title {
				background: @color0;
				float: left;
				margin-bottom: 5px;
				padding: 5px;
				width: 85%;
				.field-content {
					color: @color1;
					float: left;
					font-size: 13px;
					line-height: 19px;
					width: @width9;
				}
			}
			.views-field-body {
				float: left;
				width: @width9;
			}
			.btn-group {
				position: absolute;
				right: 0;
				top: 0;
			}
			p {
				margin-bottom: 0 !important;
			}
		}
	}
}
#sortable {
	.downtime_enable {
		.form-type-checkbox {
			text-align: center;
			input {
				margin-left: 0 !important;
			}
		}
	}
}
ul.list-inline {
	float: left;
	padding-left: 5px;
	width: @width9;
	li {
		margn-top: 10px !important;
	}
}
.js-comment {
	p {
		float: left;
		padding-top: 5px;
		width: @width9;
	}
	h3 {
		margin-bottom: 0px !important;
	}
}
.form-actions {
	#save_content {
		display: inline-block;
		float: left;
		width: auto;
		button {
			padding: 4.5px 10px !important;
		}
	}
	#publish_content {
		display: inline-block;
		float: left;
		width: auto;
	}
	button {
		display: inline-block;
		width: auto;
	}
}
ul.nav-tabs {
	li {
		&amp;:hover {
			a {
				.summary {
					color: @color1;
				}
			}
		}
	}
}
.unpublished-quickinfo-pdf-preview {
	a {
		background: url(../images/view-pdf-icon.png) left top no-repeat !important;
		display: inline-block;
		line-height: 24px;
		padding-left: 25px;
	}
}
.unpublished-quickinfo-edit-link {
	a {
		background: url(../images/edit-icon.png) left top no-repeat !important;
		display: inline-block;
		line-height: 24px;
		padding-left: 25px;
		padding-left: 25px;
	}
}
article.downtimes {
	.Incident {
		float: left;
		padding-bottom: 2px;
		width: @width9;
		.downtimes_title {
			display: inline-block;
			font-weight: 600;
			letter-spacing: 0.5px;
			width: 100px;
			&amp;:after {
				content: ": ";
			}
		}
		.downtimes_content {
			display: inline-block;
			width: auto;
		}
	}
}
form.incidents {
	.incident_states_filter_form_wrapper {
		float: left;
		padding-top: 10px;
		width: @width9;
	}
	.downtimes_states_filter_form_wrapper {
		float: left;
		width: @width9;
	}
}
form.maintenance {
	.incident_states_filter_form_wrapper {
		float: left;
		padding-top: 10px;
		width: @width9;
	}
	.downtimes_states_filter_form_wrapper {
		float: left;
		width: @width9;
	}
}
.curr_incidents_form+.reset_form {
	float: left !important;
	margin: 23px 0 0 0 !important;
}
form#downtimes-filter .archive_other_states_filter_form_wrapper, form#downtimes-filter .archive_downtimes_states_filter_form_wrapper, form#downtimes-filter .archive_downtimes_dates_filter_form_wrapper, form#downtimes-filter .archived_maintenance_search_results_wrapper  {
	float: left;
	width: @width9;
}
strong {
	font-weight: normal;
}