<div class="form-checkbox id-wrapper">
  <div class = "published-services">
    <label class="option" for= 'element-id'>
      <input type="checkbox" name="test-name" id="element-id" value='1'  checked="checked"  />
    </label>
  </div>
</div>
