/*
font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
        font-size: .8em; } .dpDiv { } .dpTable { font-family: Tahoma,
        Arial, Helvetica, sans-serif; font-size: 12px; text-align:
        center; color: #505050; background-color: #ece9d8; border: 1px
        solid #AAAAAA; } .dpTR { } .dpTitleTR { } .dpDayTR { }
        .dpTodayButtonTR { } .dpTD { border: 1px solid #ece9d8; }
        .dpDayHighlightTD { background-color: #CCCCCC; border: 1px
        solid #AAAAAA; } .dpTDHover { background-color: #aca998;
        border: 1px solid #888888; cursor: pointer; color: red; }
        .dpTitleTD { } .dpButtonTD { } .dpTodayButtonTD { } .dpDayTD {
        background-color: #CCCCCC; border: 1px solid #AAAAAA; color:
        white; } .dpTitleText { font-size: 12px; color: gray;
        font-weight: bold; } .dpDayHighlight { color: 4060ff;
        font-weight: bold; } .dpButton { font-family: Verdana, Tahoma,
        Arial, Helvetica, sans-serif; font-size: 10px; color: gray;
        background: #d8e8ff; font-weight: bold; padding: 0px; }
        .dpTodayButton { font-family: Verdana, Tahoma, Arial,
        Helvetica, sans-serif; font-size: 10px; color: gray;
        background: #d8e8ff; font-weight: bold;
}*/

/*
table.tablesorter {
        font-family:arial;
        margin:10px 0pt 15px;
        font-size: 8pt;
        width: 750px;
        text-align: center;
		border:1px solid #375f92;
		background:	#CDCDCD;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
        background-color: #5e90cd;
        font-size: 8pt;
        padding: 4px;
		text-align:center;
		color:#fff;
		}


.tablesorter tr.even td {background-color:#d9e8fb;}
.tablesorter tr.odd td {background-color:#f8f8f8;}

.tablesorter .reason {text-align:left;}

table.tablesorter thead tr .header {
        background-image: url(images/bg.gif);
        background-repeat: no-repeat;
        background-position: center right;
        cursor: pointer;
}
table.tablesorter tbody td {
        color: #3D3D3D;
        padding: 4px;
        background-color: #FFF;
        vertical-align: top;
}

table.tablesorter thead tr .headerSortUp {
        background-image: url(images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
        background-image: url(images/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {

} 

table.tablesorter thead tr .state {
        width: 114px;}
		


		

table.tablesorter thead tr .service {
        width: 114px;
}
table.tablesorter thead tr .start {
        width: 80px;
}
table.tablesorter thead tr .end {
        width: 80px;
}

table.tablesorter thead tr .reported_by {
        width: 100px;
}
table.tablesorter thead tr .owner {
        width: 125px;
}
table.tablesorter thead tr .action {
        width: 48px;
}
*/

.item-list ul li {
display:inline;
}

.reason {
	text-align:center;
}



.curr_incidents_form .state_search_dropdown { 
	float:left;
	margin-left:0px;
}


.curr_incidents_form .service_search_dropdown {
	float:left;                                                                                                                             
	margin-left:16px;
} 


.filter_end_date {
  float:left;
  margin-top:-16px;
  padding-left:5px;
  margin-left:13px;
}
.filter_start_date {
  float:left;
  margin-top:-16px;
  padding-left:0px;
  margin-left:16px;
 }

.filter_end_date input, .filter_start_date input { border:1px solid #7f9db9; background:url(../../downtimes/images/calender_icon.gif) right center no-repeat;}

.type_search_dropdown {
	float:left;
    padding-right:16px;
}
.time_period_search_dropdown{
  float:left;
 padding-left:0px;
}

.resolved_details{
  margin-top:30px;
}

.string_search {
 float:left;
 padding-left:0px;
 margin-left:16px;
}
.filter_submit {
float:left;
margin-top:5px;
width:75px;
}

.downtime_reason {
margin-top:30px;
}

.groups{
display:none;
}


.downtimes_title{
width:13%;
float:left;
}

.downtimes_content{
width:70%;
float:left;
}

.filter_start_date input {
cursor:pointer;
font-size:11px;
height:14px;
vertical-align:text-top;
width:80px;
}
.filter_end_date input {
cursor:pointer;
width:80px;
height:14px;
font-size:11px;
vertical-align:text-top;
}


.reset_form {
float: left;
padding:0px;
margin-bottom:8px;
margin-top:8px;
margin-left:20px;
}

.reset_all {
font-size: 11px; 
}

.archive_reset_form {
float:left;
margin-top:10px;
padding-left:5px;
}
.search_string_submit {
float:left;
padding-left:2px;
/*padding-top:13px;*/
padding-top:13px;
}
