{# empty Twig template #}
<div class="field field--name-field-name field--type-text field--label-inline">
  <div class="field--label">{{ label }}</div>
  <div class="field--item">{{ value }}</div>
</div>